/* Scss Document */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: tahoma;
  font-size: 10pt;
}

body, html {
  margin: 0px;
  height: 100%;
  padding: 10px;
}

.ss-form, .form {
  width: 100%;
  background-color: #333333;
  padding: 5px;
  margin: 0px;
}

.ss-form .caption, .form .caption {
  text-align: center;
  font-weight: bold;
  color: white;
}

.ss-form .form-group, .form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ss-form .form-group > *, .form .form-group > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ss-form .form-group .form-field, .form .form-group .form-field {
  margin: 2px;
  padding: 5px;
  color: #bdbdbd;
}

.ss-form .form-group .form-field input, .ss-form .form-group .form-field select, .form .form-group .form-field input, .form .form-group .form-field select {
  border: 1px solid #DCDCDC;
  padding: 4px;
}

.ss-form .form-group .form-field > *, .form .form-group .form-field > * {
  display: block;
}

.ss-form .form-nav, .form .form-nav {
  border: 1px solid #FBFBFB;
  background-color: rgba(27, 103, 194, 0.62);
  margin: 2px;
  padding: 5px;
  text-align: right;
}

.ss-form .form-nav input, .form .form-nav input {
  border: 0px;
  padding: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2368b0), to(#145aa3));
  background: linear-gradient(#2368b0, #145aa3);
  color: white;
}

.ss-form .form-nav input:hover, .form .form-nav input:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#c02d2d), to(#e04545));
  background: linear-gradient(#c02d2d, #e04545);
  cursor: pointer;
}

.ss-form1, .form {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e1e1e1));
  background: linear-gradient(#f7f7f7, #e1e1e1);
  border: 1px solid #DCDCDC;
  padding: 5px;
  margin: 0px;
}

.ss-form1 .caption, .form .caption {
  text-align: center;
  font-weight: bold;
  color: rgba(5, 55, 143, 0.5);
}

.ss-form1 .form-group, .form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ss-form1 .form-group > *, .form .form-group > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ss-form1 .form-group .form-field, .form .form-group .form-field {
  background-color: rgba(232, 232, 232, 0.79);
  border: 1px solid #FBFBFB;
  margin: 2px;
  padding: 5px;
}

.ss-form1 .form-group .form-field input, .ss-form1 .form-group .form-field select, .form .form-group .form-field input, .form .form-group .form-field select {
  border: 1px solid #DCDCDC;
  padding: 4px;
}

.ss-form1 .form-group .form-field > *, .form .form-group .form-field > * {
  display: block;
}

.ss-form1 .form-nav, .form .form-nav {
  border: 1px solid #FBFBFB;
  background-color: rgba(27, 103, 194, 0.62);
  margin: 2px;
  padding: 5px;
  text-align: right;
}

.ss-form1 .form-nav input, .form .form-nav input {
  border: 0px;
  padding: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2368b0), to(#145aa3));
  background: linear-gradient(#2368b0, #145aa3);
  color: white;
}

.ss-form1 .form-nav input:hover, .form .form-nav input:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#c02d2d), to(#e04545));
  background: linear-gradient(#c02d2d, #e04545);
  cursor: pointer;
}

.zelda {
  background-color: #2f8bf3;
  color: #bfffd2;
}
/*# sourceMappingURL=Form.css.map */