.report-tool {
  font-size: 10pt;
  overflow: auto;
  height: 100%;
}

.report-tool .sg-tab {
  height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: auto;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.report-tool .sg-tab > .menu {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  padding: 0px !important;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 2px solid #056d64;
}

.report-tool .sg-tab > .menu > .tab-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: inline-block;
  background-color: #e2e2e2;
  text-decoration: none;
  color: #969696;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis "...";
  max-width: auto;
  min-width: 20px;
  border-radius: 4px 12px 0px 0px;
  margin: 0px 0px 0px 0px;
  padding: 4px 2px 2px 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 10px;
  text-align: center;
  height: 100%;
}

.report-tool .sg-tab > .menu > .tab-menu.tab-active {
  background-color: #056d64;
  color: white;
}

.report-tool .sg-tab > .menu > .tab-menu:hover {
  background-color: #2ad8c9;
  color: white;
}

.report-tool .sg-tab > .body {
  margin: 0px;
  padding: 0px;
  overflow: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.report-tool .sg-tab > .body > .tab-body {
  width: 100%;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.report-tool .sg-tab > .body > .tab-body:not(.tab-active) {
  display: none !important;
}

.report-tool .sg-tab > .body > .tab-body > :nth-child(2) {
  overflow: auto;
  height: 100%;
}

.report-tool .sg-tab .sg-form {
  display: -ms-grid;
  display: grid;
  overflow: auto;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.report-tool .sg-tab .sg-form .page {
  overflow: auto;
  height: 100%;
}

.report-tool .sg-form {
  border: 0px;
  background-color: rgba(255, 255, 255, 0.664);
}

.report-tool .sg-form .caption {
  color: #929292;
  text-align: center;
  background-color: rgba(248, 248, 248, 0.7);
  line-height: 1.8em;
  vertical-align: middle;
  border-bottom: 2px solid #ececec;
  margin: 4px 0px 0px 0px;
}

.report-tool .sg-form .caption .text {
  text-transform: uppercase;
  font-family: futurab !important;
}

.report-tool .sg-form .page {
  grid-gap: 0px;
  padding: 0px;
  -ms-grid-columns: ([cc-start] minmax(180px, 1fr) [cc-end])[auto-fit];
      grid-template-columns: repeat(auto-fit, [cc-start] minmax(180px, 1fr) [cc-end]);
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.report-tool .sg-form .page .field {
  margin: 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 8px;
}

.report-tool .sg-form .page .field .input {
  padding-left: 4px;
}

.report-tool .sg-form .page .field .label {
  color: #919191;
  text-transform: uppercase;
  padding-bottom: 0px;
  font-family: futurab;
  padding-left: 10px;
  margin-bottom: 50px;
}

.report-tool .sg-form .page .field input,
.report-tool .sg-form .page .field textarea,
.report-tool .sg-form .page .field select,
.report-tool .sg-form .page .field label {
  background-color: #eceaea;
  color: #6d6d6d;
  border: 0px;
  font-size: 0.8em;
  font-family: futurab;
  max-width: 100%;
  max-height: 1.8em;
  margin: 0px;
}

.report-tool .sg-form .page .field label {
  padding-left: 6px;
}

.report-tool .sg-form .sg-menu {
  padding: 0px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.report-tool .sg-form .sg-menu > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.6em;
}

.report-tool .sg-form .sg-menu a {
  background-color: #096961;
  height: 100%;
  color: white;
}

.report-tool .sg-form .sg-menu a:active {
  background-color: #2f5a04;
}

.report-tool .sg-form .sg-menu a:hover {
  background-color: #005035;
}

.report-tool .sg-form .sg-menu .text {
  margin: 0px;
}

.report-tool div[data-mode="0"] .sg-form > .caption {
  background-color: aqua;
}

.report-tool div[data-mode="1"] .sg-form > .caption {
  background-color: aqua;
}

.report-tool div[data-mode="2"] .sg-form > .caption {
  background-color: aqua;
}

.report-tool div[data-mode="3"] .sg-form > .caption {
  background-color: aqua;
}

.report-tool option.mode-0 {
  color: #a76010 !important;
}

.report-tool option.mode-1 {
  color: #39b16f !important;
}

.report-tool option.mode-2 {
  color: red !important;
  font-weight: bold;
}

.report-tool option.mode-3 {
  color: #db48c3 !important;
}

.report-tool .sg-menu.type-M li:nth-child(2) {
  display: none !important;
}

.report-tool .sg-menu.type-W li:not(li:nth-child(2)) {
  display: none !important;
}

.gt-info-main {
  overflow: auto;
  height: 100%;
}

.gt-info-main .info-body {
  overflow: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.gt-info-main .info-menu {
  background-color: white;
  color: #575757;
  font-size: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.gt-info-main .info-menu button {
  margin-left: 5px;
}

.gt-info-main .info-main {
  overflow: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sg-form {
  display: -ms-grid;
  display: grid;
  height: 100%;
  overflow: auto;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.sg-form .page {
  height: 100%;
  overflow: auto;
}

.flex > .body {
  height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex > .body > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  overflow: auto;
}
/*# sourceMappingURL=gt_tool.css.map */