* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0px;
  height: 100%;
}

.debug-object {
  padding-left: 4px;
  background-color: white;
  border: 1px solid #494949;
  font-size: 10pt;
  overflow: auto;
}
.debug-object span:nth-child(1) {
  display: inline-block;
  color: #888888;
}
.debug-object span:nth-child(2) {
  padding-left: 10px;
  display: inline-block;
  color: #3b3b3b;
}
.debug-object > div:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.06);
}

.layout {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 190px repeat(2, 1fr);
  grid-template-rows: 70px 30px 0.8fr auto;
  border: 4px solid red;
  height: 100%;
  overflow: auto;
  padding: 4px;
}
.layout > * {
  border: 2px solid #d9480f;
  height: 50vh;
}
.layout .p1 {
  grid-column: 1;
  grid-row: 3/5;
  background-color: blueviolet;
}
.layout .p2 {
  background-color: #ececec;
  overflow: auto;
}
.layout .p3 {
  grid-column: 1/4;
  grid-row: 2;
  background-color: #b44b91;
}
.layout .p4 {
  background-color: #d6d6d6;
  overflow: auto;
}
.layout .p7 {
  grid-column: 1/4;
  grid-row: 1;
  border: 2px solid #104581;
}
.layout .p8 {
  grid-column: 1/4;
  background-color: #52565a;
}

.sg-grid {
  height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

table tr td {
  font-size: 8pt;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper > div {
  border: 2px solid #e9ab58;
  border-radius: 5px;
  background-color: rgba(233, 171, 88, 0.5);
  padding: 1em;
  color: #d9480f;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1/3;
  grid-row: 1;
}

.two {
  grid-column: 2/4;
  grid-row: 1/3;
}

.three {
  grid-column: 1;
  grid-row: 2/5;
}

.four {
  grid-column: 3;
  grid-row: 3;
}

.five {
  grid-column: 2;
  grid-row: 4;
}

.six {
  grid-column: 3;
  grid-row: 4;
}

.sg-menu.horizontal .caption {
  display: none;
}
.sg-menu.horizontal .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sg-menu.horizontal .item .icon {
  display: none;
}
.sg-menu.horizontal li {
  display: inline-block !important;
}

.gtcomm {
  display: grid;
  height: 100%;
  overflow: auto;
  grid-gap: 0px;
  grid-template-columns: 190px repeat(4, 1fr);
  grid-template-rows: 30px 30px auto 30px 30px;
}
.gtcomm > * {
  overflow: auto;
}
.gtcomm .p1 {
  grid-column: 1;
  grid-row: 1/6;
  background-color: #272727;
}
.gtcomm .p2 {
  grid-column: 2/6;
  grid-row: 1;
  background-color: #979797;
}
.gtcomm .p3 {
  grid-column: 2/6;
  grid-row: 2;
  background-color: #3a3a3a;
}
.gtcomm .p4 {
  grid-column: 2/4;
  grid-row: 3;
  background-color: #bbbbbb;
}
.gtcomm .p5 {
  grid-column: 4/5;
  grid-row: 3;
  background-color: #cacaca;
}
.gtcomm .p6 {
  grid-column: 5/6;
  grid-row: 3;
  background-color: #706f6f;
}
.gtcomm .p7 {
  grid-column: 2/6;
  grid-row: 4;
  background-color: #f0f0f0;
}
.gtcomm .p8 {
  grid-column: 2/6;
  grid-row: 5;
  background-color: #b3b3b3;
}

div[data-sg-type=sg-ajax] {
  background-repeat: no-repeat;
  background-position: center center;
}
div[data-sg-type=sg-ajax].isie {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(images/wait1.gif);
  _background-size: 40px 40px;
}
div[data-sg-type=sg-ajax]:not(.isie) {
  background-color: rgba(0, 0, 0, 0.52);
  background-image: url(images/default2.svg);
  background-size: 40px 40px;
}

.drag {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #f5e663;
  border: 10px solid rgba(136, 136, 136, 0.5);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
}
.drag > * {
  border: 4px solid rgba(136, 136, 136, 0.5);
}
.drag > .a {
  text-align: center;
  vertical-align: middle;
  border: 4px solid rgba(136, 136, 136, 0.5);
}
.drag > .b {
  text-align: center;
  vertical-align: middle;
  background-color: #33a158;
  border: 8px solid rgba(136, 136, 136, 0.5);
}
.drag .c {
  background-color: #63277a;
}
.drag .e {
  grid-column: 2/4;
}

.drag2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  width: 100pt;
  height: 100px;
  background-color: #f5e663;
  border: 10px solid #802929;
}

.drag4a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  width: 100px;
  height: 50px;
  background-color: #12927d;
  border: 10px solid #026343;
  overflow: auto;
}

.drag4 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  top: 20%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  background-color: #f5e663;
  border: 10px solid #757373;
  overflow: auto;
  resize: both;
}

.drag3 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 100px;
  left: 300px;
  width: 60pt;
  height: 100px;
  background-color: #f5e663;
  border: 2px solid #853939;
}

.drag5 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100px;
  height: 100px;
  background-color: #08998d;
  border: 10px solid #00676e;
}

.drag6 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 205px;
  left: 0px;
  width: 110px;
  height: 100px;
  background-color: #08998d;
  border: 10px solid #00676e;
}

.drag7 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 205px;
  left: 9px;
  width: 92px;
  height: 100px;
  background-color: #15d3c3;
  border: 0px solid #00676e;
  min-width: 30px;
}

.sgWin {
  background-color: #e7e7e7;
  border: 2px solid #d4d3d3;
}
.sgWin > .caption {
  background-color: #083770;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), to(#fefefe));
  background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  color: #727272;
}
.sgWin > .caption > .icon {
  border: 0px solid white;
}
.sgWin .rs.rb {
  border-radius: 5px;
  height: 0px !important;
  width: 0px !important;
  border: 5px solid #e06f06;
}

.sgWin.sevian {
  position: fixed;
  min-width: 160px;
  min-height: 40px;
  max-height: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 6px 12px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 6px 12px -4px rgba(0, 0, 0, 0.75);
}
.sgWin.sevian.hidden {
  visibility: hidden;
}
.sgWin.sevian.hidden * {
  display: none;
}
.sgWin.sevian > .caption {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: default;
}
.sgWin.sevian > .caption > .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20px;
  height: 20px;
  display: inline-block;
  pointer-events: none;
  margin-left: 4px;
}
.sgWin.sevian > .caption > .text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sgWin.sevian > .caption > .win-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-image: url(../images/win_icons.png?i=18);
  width: 20px;
  height: 20px;
  display: inline-block;
}
.sgWin.sevian > .caption > .win-btn.min {
  background-position: 0px -20px;
}
.sgWin.sevian > .caption > .win-btn.min:HOVER {
  background-position: 0px -240px;
}
.sgWin.sevian > .caption > .win-btn.max {
  background-position: -40px -20px;
}
.sgWin.sevian > .caption > .win-btn.max:HOVER {
  background-position: -40px -240px;
}
.sgWin.sevian > .caption > .win-btn.auto {
  background-position: -20px -20px;
}
.sgWin.sevian > .caption > .win-btn.auto:HOVER {
  background-position: -20px -240px;
}
.sgWin.sevian > .caption > .win-btn.close {
  margin-right: 4px;
  background-position: -60px -20px;
}
.sgWin.sevian > .caption > .win-btn.close:HOVER {
  background-position: -60px -240px;
}
.sgWin.sevian > .body {
  overflow: auto !important;
}
.sgWin.sevian.min {
  height: auto !important;
  max-width: 160px !important;
}
.sgWin.sevian.min > .caption > .win-btn.min {
  display: none;
}
.sgWin.sevian.min > .body {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 0px !important;
          flex: 0 0 0px !important;
  height: 0px;
}
.sgWin.sevian.auto {
  height: auto !important;
  width: auto !important;
}
.sgWin.sevian.auto > .caption > .win-btn.auto {
  display: none;
}
.sgWin.sevian.auto > .body {
  height: auto !important;
  width: auto !important;
}
.sgWin.sevian.max {
  width: calc(100% - 20px) !important;
  height: calc(100% - 20px) !important;
  top: 10px !important;
  left: 10px !important;
}
.sgWin.sevian.max > .caption > .win-btn.max {
  display: none;
}
.sgWin.sevian.close {
  visibility: hidden;
}
.sgWin.sevian.moving {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sgWin.sevian.resizing {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.popup {
  width: 92px;
  height: 100px;
  background-color: #15d3c3;
  border: 0px solid #00676e;
}

.sg-calendar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: white;
  color: #686868;
  width: 100%;
  min-width: 280px;
  height: 100%;
  font-family: tahoma;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sg-calendar > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sg-calendar .y-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sg-calendar .y-bar > * {
  background-color: #e6e6e6;
  margin: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #f4f4f4;
  text-align: center;
  font-size: 8pt;
  line-height: 2em;
  cursor: pointer;
}
.sg-calendar .y-bar > *[data-index="2"] {
  color: #ececec;
  background-color: #858585;
  font-weight: bold;
}
.sg-calendar .y-bar > *:hover {
  background-color: #0070a0;
  color: white;
}
.sg-calendar .m-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sg-calendar .m-bar > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ebebeb;
  display: inline-block;
  margin: 1px;
  text-align: center;
  font-size: 8pt;
  line-height: 2em;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  cursor: pointer;
}
.sg-calendar .m-bar > *.active {
  color: #e2e2e2;
  background-color: #0070a0;
}
.sg-calendar .m-bar > *:hover {
  background-color: #a00000;
  color: white;
}
.sg-calendar .c-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}
.sg-calendar .c-bar * {
  font-size: 9pt;
  text-align: center;
}
.sg-calendar .c-bar > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.5em;
  background-color: #d6d6d6;
  padding: 4px;
  color: #6e6e6e;
}
.sg-calendar .c-bar > *:HOVER {
  background-color: #747474;
  color: white;
}
.sg-calendar .c-bar > * .p-month:hover, .sg-calendar .c-bar > * .n-month:hover, .sg-calendar .c-bar > * .p-year:hover, .sg-calendar .c-bar > * .n-year:hover {
  color: #a8eeee;
}
.sg-calendar .c-bar .c-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sg-calendar .c-bar .c-month > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sg-calendar .c-bar .c-month select {
  width: 80px;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 auto !important;
          flex: 0 0 auto !important;
}
.sg-calendar .c-bar .c-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sg-calendar .c-bar .c-year > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sg-calendar > .calendar {
  width: 100%;
  height: 180px;
}
.sg-calendar > .calendar thead {
  background-color: darkgray;
  color: #ededed;
  text-align: center;
  font-weight: bold;
}
.sg-calendar > .calendar tbody {
  background-color: #ededed;
  font-size: 9pt;
}
.sg-calendar > .calendar tbody td {
  text-align: center;
  font-size: 8pt;
}
.sg-calendar > .calendar tbody .week {
  background-color: #e5e5e5;
}
.sg-calendar > .calendar tbody .week:hover {
  background-color: #ad0505;
  color: white;
}
.sg-calendar > .calendar tbody .day:hover {
  background-color: black;
  color: aqua;
}
.sg-calendar > .calendar tbody .m-prev {
  background-color: white;
}
.sg-calendar > .calendar tbody .m-next {
  background-color: white;
}
.sg-calendar > .calendar tbody .today {
  color: #e2e2e2;
  background-color: #0070a0;
}
.sg-calendar > .calendar tbody .m-now.active {
  color: white;
  background-color: #f3a600;
}
.sg-calendar > .calendar tbody .m-prev.active {
  color: white;
  background-color: #db4e0d;
}
.sg-calendar > .calendar tbody .m-next.active {
  color: white;
  background-color: #ff8800;
}
.sg-calendar .t-bar {
  font-size: 10pt;
  padding: 4px;
  text-align: center;
  margin: 1px;
  cursor: pointer;
  color: #686868;
  background-color: #dbdbdb;
}
.sg-calendar .t-bar:hover {
  background-color: #1986d4;
  color: white;
}

.sgcal-note {
  border-style: solid;
  border-width: 10px 0 10px 10px;
  right: 0px;
  top: 0px;
  border-color: #c01515 transparent transparent transparent;
}
.sgcal-note:hover {
  border-color: black transparent transparent transparent !important;
}

.sgcal-ind {
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: #0d5ebf transparent transparent transparent;
  left: 0px;
  top: 0px;
}
.sgcal-ind:hover {
  border-color: black transparent transparent transparent !important;
}

.sg-popup {
  position: absolute;
  left: 0px;
  top: 0px;
}
.sg-popup.hidden {
  visibility: hidden;
}

.cal-note {
  background-color: #0696c1;
  font-size: 10pt;
  margin: 4px;
  padding: 4px;
  min-width: 160px;
  min-height: 60px;
  -webkit-box-shadow: 5px 5px 5px rgba(132, 132, 132, 0.5);
          box-shadow: 5px 5px 5px rgba(132, 132, 132, 0.5);
  border-radius: 4px;
}
.cal-note .note-title {
  color: #b3e4ff;
  text-align: right;
  border-bottom: 1px solid #b3e4ff;
}
.cal-note .note-body {
  color: white;
}

.cal-picker > .body {
  height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.cal-picker > .body > * {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.sg-form {
  padding: 4px;
  border: 2px solid #dadada;
  background-color: #f0f0f0;
}
.sg-form > .caption {
  background-color: #c0c0c0;
  text-align: center;
  color: white;
  line-height: 2em;
  text-transform: uppercase;
}
.sg-form > .page {
  font-size: 10pt;
  color: #6e6e6e;
  border: 1px solid #cfcece;
  padding: 4px;
}
.sg-form > .page > .field {
  margin-top: 5px;
}
.sg-form > .page > .field > .label {
  margin-left: 10px;
  text-transform: capitalize;
}
.sg-form > .page > .field > .label > .ind {
  display: inline-block;
  color: red;
  margin-left: 5px;
}
.sg-form > .page > .field > .input input {
  color: #585858;
  border: 1px solid #d8d7d7;
  height: 2em;
}
.sg-form > .page > .field > .input button {
  height: 2em;
  color: #585858;
  border: 1px solid #d8d7d7;
}
.sg-form > .page > .sg-menu {
  background-color: #e4e4e4;
  padding: 4px;
  border: 2px solid #ececec;
  margin-top: 10px;
}
.sg-form > .page > .sg-menu .option {
  line-height: 2em;
  background-color: #ff8800;
  color: #e7e7e7;
  border: 2px solid #ececec;
  cursor: pointer;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}
.sg-form > .page > .sg-menu .option:hover {
  background-color: #cf4404;
  color: #d8d7d7;
}

.sg-grid {
  padding: 4px;
  border: 2px solid #dadada;
  background-color: #f0f0f0;
}
.sg-grid > .caption {
  background-color: #c0c0c0;
  text-align: center;
  color: white;
  line-height: 2em;
  text-transform: uppercase;
}
.sg-grid > .grid-search {
  text-align: center;
  line-height: 2em;
}
.sg-grid > .grid-search input {
  color: #585858;
  border: 1px solid #d8d7d7;
  height: 2em;
}
.sg-grid > .grid-search .btn-search {
  background-color: #ff8800;
  color: #e7e7e7;
  cursor: pointer;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}
.sg-grid > .grid-search .btn-search:hover {
  background-color: #cf4404;
  color: #d8d7d7;
}
.sg-grid > .body > .grid-table > thead tr > td {
  font-size: 10pt;
  color: #6e6e6e;
  margin-left: 10px;
  text-transform: capitalize;
  background-color: #e4e4e4;
}
.sg-grid > .body > .grid-table > tbody > tr > td {
  color: #727272;
}
.sg-grid > .body > .grid-table > tbody > tr:nth-child(2n) {
  background-color: #e9e9e9;
}
.sg-grid > .body > .grid-table > tbody > tr.active td > [data-name]:not(.zone-edit), .sg-grid > .body > .grid-table > tbody > tr.active td > .text:not(.zone-edit) {
  display: none;
}
.sg-grid > .body > .grid-table > tbody > tr.delete > td[data-name] {
  visibility: hidden;
}
.sg-grid > .sg-menu {
  background-color: #e4e4e4;
  padding: 4px;
  border: 2px solid #ececec;
  margin-top: 10px;
}
.sg-grid > .sg-menu .option {
  line-height: 2em;
  background-color: #ff8800;
  color: #e7e7e7;
  border: 2px solid #ececec;
  cursor: pointer;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}
.sg-grid > .sg-menu .option:hover {
  background-color: #cf4404;
  color: #d8d7d7;
}
.sg-grid.type-edit.record-edit .edit-row td {
  visibility: hidden;
}

.sg-map {
  height: 100%;
}

form {
  height: 100%;
}

.gt-control-device {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: auto;
}
.gt-control-device .sg-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.gt-control-device .sg-tab {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gt-control-device .sg-tab > .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gt-control-device .sg-tab > .menu > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.gt-control-device .sg-tab > .body {
  overflow: auto;
}
.gt-control-device .sg-tab > .body > .gt-control-p1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.gt-control-device .sg-tab > .body > .gt-control-p1 > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 5px;
  overflow: auto;
}
.gt-control-device .sg-tab > .body > .gt-control-p1 .sg-menu {
  max-width: 250px;
}

.gt-control-device > .sg-form {
  padding: 2px;
}
.gt-control-device > .sg-form > .caption {
  display: none;
}
.gt-control-device > .sg-form > .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gt-control-device > .sg-form > .page > .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gt-control-device > .sg-form > .page > .field > .input {
  margin-left: 4px;
}
.gt-control-device > .sg-tab > .menu {
  font-size: 9pt;
  margin: 4px 4px 0px 20px;
}
.gt-control-device > .sg-tab > .menu > .tab-menu.tab-active {
  font-weight: bold;
  background-color: #f8690a;
}
.gt-control-device > .sg-tab .body {
  border-top: 4px solid #f8690a;
}

.gt-control-p1 > .sg-menu:nth-child(1) {
  font-size: 8pt;
  padding: 4px;
  margin: 0px;
  border: 2px solid #dadada;
  background-color: #f0f0f0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.gt-control-p1 > .sg-menu:nth-child(1) .item > .option {
  background-color: #a00000;
  padding: 6px;
  border-bottom: 1px solid red;
  text-decoration: none;
  color: white;
  display: block;
}
.gt-control-p1 > .sg-menu:nth-child(1) .item > .option > .text {
  padding-left: 4px;
  font-weight: bold;
}
.gt-control-p1 > .sg-menu:nth-child(1) .item > .option:hover {
  background-color: #690404;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  color: #94e1ff;
}
.gt-control-p1 > .sg-menu:nth-child(2) {
  background-color: #e4e4e4;
  padding: 2px;
  border: 2px solid #ececec;
  margin-top: 10px;
}
.gt-control-p1 > .sg-menu:nth-child(2) .item {
  display: inline-block;
  line-height: 2em;
  min-width: 45px;
  text-align: center;
}
.gt-control-p1 > .sg-menu:nth-child(2) .option {
  text-decoration: none;
  display: block;
  background-color: #ff8800;
  color: #e7e7e7;
  border: 2px solid #ececec;
  cursor: pointer;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}
.gt-control-p1 > .sg-menu:nth-child(2) .option:hover {
  background-color: #cf4404;
  color: #d8d7d7;
}

.input-multi {
  border: 1px solid #cecece;
  max-height: 200px;
  min-width: 200px;
  overflow: auto;
}
.input-multi > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-multi > span > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.sg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sg-form > .page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
}

.navigator.sg-menu > .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sg-input-list input {
  width: 90%;
}

.list-menu {
  position: fixed;
  border: 1px solid #bbbbbb;
  color: #838383;
  max-height: 15em;
  min-height: 2px;
  min-width: 50px;
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ffffff;
  overflow: auto;
  padding: 0px;
  font-size: 9pt;
}
.list-menu:not(.active) {
  visibility: hidden;
}
.list-menu .option {
  text-transform: uppercase;
  padding: 2px;
  line-height: 1.5em;
}
.list-menu .option.active {
  background-color: #0051ff;
  color: white;
}

.sg-message-box {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 20px;
  padding: 10px;
  background-color: #0071ce;
  border: 0px solid #ec8484;
  border-radius: 5px;
  -webkit-box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.71);
          box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.71);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: hidden;
  visibility: visible;
  opacity: 1;
}
.sg-message-box > .caption {
  color: white;
  text-align: right;
  border-bottom: 2px solid white;
}
.sg-message-box > .text {
  color: aqua;
  padding: 4px;
}
.sg-message-box.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.9s linear, opacity 0.9s linear;
  transition: visibility 0.9s linear, opacity 0.9s linear;
}

.sg-form.mode-insert {
  border-color: #85a8b1;
}
.sg-form.mode-update {
  border-color: #33a333;
}

.input-info div {
  border: 1px solid #a5a5a5;
  display: inline-block;
  font-size: 8pt;
  line-height: 1.8em;
  min-width: 2em;
  padding-left: 2px;
}
.input-info div:empty::before {
  content: "-";
  font-style: italic;
  color: #999;
}