.trace-tool[data-mode-speed=r-0] .r-0 {
  background-color: red;
}
.trace-tool[data-mode-speed=r-1] .r-1 {
  background-color: red;
}
.trace-tool[data-mode-speed=r-2] .r-2 {
  background-color: red;
}
.trace-tool[data-mode-speed=r-3] .r-3 {
  background-color: red;
}
.trace-tool[data-mode-speed=r-4] .r-4 {
  background-color: red;
}
.trace-tool[data-mode-speed=r-5] .r-5 {
  background-color: red;
}
.trace-tool[data-mode-speed=f-1] .f-1 {
  background-color: red;
}
.trace-tool[data-mode-speed=f-2] .f-2 {
  background-color: red;
}
.trace-tool[data-mode-speed=f-3] .f-3 {
  background-color: red;
}
.trace-tool[data-mode-speed=f-4] .f-4 {
  background-color: red;
}
.trace-tool[data-mode-speed=f-5] .f-5 {
  background-color: red;
}
.trace-tool[data-mode-speed=f-0] .f-0 {
  background-color: red;
}

.trace-speed-nav {
  background: #343434;
  background: linear-gradient(90deg, #01b32d 0%, white 50%, #06a7f1 100%);
  float: left;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1em;
  width: 200px;
  grid-gap: 1px;
}
.trace-speed-nav > * {
  text-align: center;
  line-height: 1em;
  vertical-align: middle;
  font-size: 1em;
  color: azure;
  background-color: rgba(46, 46, 46, 0.205);
}
.trace-speed-nav > *:hover {
  background-color: #2e2e2e;
}
.trace-speed-nav > .r16, .trace-speed-nav .x16 {
  background-color: #4d4d4d;
}
.trace-speed-nav > .r8, .trace-speed-nav .x8 {
  background-color: #8d8d8d;
}
.trace-speed-nav > .r4, .trace-speed-nav .x4 {
  background-color: #bebebe;
}
.trace-speed-nav > .r2, .trace-speed-nav .x2 {
  background-color: #dddddd;
}
.trace-speed-nav > .r, .trace-speed-nav .x {
  background-color: white;
}

.trace-layer {
  padding: 3px;
}
.trace-layer .text {
  font-size: 11px;
}
.trace-layer .sg-menu .image {
  width: 10px;
  min-width: 10px;
  height: 10px;
}
.trace-layer .sg-menu .option {
  background-color: #fafafa;
  color: #979797;
}
.trace-layer .sg-menu .circle .image {
  border-radius: 10px;
}
.trace-layer .sg-menu .image.red {
  background-color: #eb1d50;
}
.trace-layer .sg-menu .image.yellow {
  background-color: #fcff33;
  border: 1px solid #bbbbbb;
}
.trace-layer .sg-menu .image.blue {
  background-color: #002df8;
}
.trace-layer .sg-menu .image.green {
  background-color: #48c500;
}
.trace-layer .sg-menu .image.purple {
  background-color: #bb1deb;
}
.trace-layer .sg-menu .image.orange {
  background-color: #ec670d;
}
.trace-layer .sg-menu .image.black {
  background-color: #555555;
}
.trace-layer .sg-menu .image.white {
  background-color: lightgray;
  border: 1px solid #bbbbbb;
}
.trace-layer .sg-menu .image.aquamarine {
  background-color: aquamarine;
}
.trace-layer .sg-menu .image.brown {
  background-color: brown;
}
.trace-layer .sg-menu .image.cyan {
  background-color: cyan;
}
.trace-layer .sg-menu .image.fuchsia {
  background-color: fuchsia;
}
.trace-layer .sg-menu .image.greenyellow {
  background-color: greenyellow;
}
.trace-layer .sg-menu .image.greenyellow {
  background-color: lime;
}
.trace-layer .sg-menu .image.magenta {
  background-color: magenta;
}
.trace-layer .sg-menu .image.darkblue {
  background-color: darkblue;
}
.trace-layer .sg-menu .item.open .ind {
  float: right;
  margin: 10px;
  width: 6px;
  height: 3px;
  margin-right: 6px;
  background-size: 100%;
  background-color: #eb0909;
}
.trace-layer .sg-menu .item.close .ind {
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #0590a8 transparent transparent transparent;
  background-color: transparent;
  margin-right: 6px;
}

.trace-tool .trace-nav {
  display: block;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.288);
}
.trace-tool .trace-nav button {
  width: 29px;
  height: 29px;
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  line-height: 29px;
  font-size: 12px;
  vertical-align: middle;
}
.trace-tool .trace-layer {
  width: 200px;
  height: 300px;
  overflow: auto;
}

.trace-control {
  height: 100%;
}
.trace-control.sg-tab {
  overflow: auto;
}
.trace-control.sg-tab > .menu {
  display: none;
}
.trace-control.sg-tab > .body {
  overflow: auto;
  height: 100%;
}

.trace-list {
  display: grid;
  grid-template-columns: 40px 30px 1fr;
  grid-template-rows: auto;
  width: 100%;
  grid-gap: 0px;
  overflow: auto;
  height: 100%;
  color: #919191;
  font-size: 9px;
}
.trace-list :nth-child(1), .trace-list :nth-child(2), .trace-list :nth-child(3) {
  background-color: #056b72;
  text-align: center;
  color: white;
}
.trace-list :nth-child(6n+7), .trace-list :nth-child(6n+8), .trace-list :nth-child(6n+9) {
  background-color: #f1f1f1;
}
.trace-list :nth-child(3n+4) {
  text-align: center;
}
.trace-list :nth-child(3n+5), .trace-list :nth-child(3n+6) {
  text-align: right;
}

.trace-tool .sg-form {
  background-color: rgba(255, 255, 255, 0.664);
  width: auto;
  display: grid;
  grid-template-rows: 0px 1fr auto;
}
.trace-tool .sg-form .caption {
  color: white;
  text-align: center;
  background-color: rgba(99, 99, 99, 0.7);
  line-height: 2em;
  vertical-align: middle;
}
.trace-tool .sg-form .caption .text {
  font-size: 12pt;
  text-transform: uppercase;
  font-family: futurab !important;
}
.trace-tool .sg-form .page {
  overflow: auto;
  display: grid;
  grid-gap: 1px;
  padding: 1px;
  grid-template-columns: repeat(auto-fit, [cc-start] minmax(180px, 1fr) [cc-end]);
  align-content: start;
  justify-content: center;
}
.trace-tool .sg-form .page .field {
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}
.trace-tool .sg-form .page .field .label {
  color: #919191;
  text-transform: uppercase;
  font-size: 0.8em;
  padding-bottom: 10px;
  font-family: futurab;
  padding-left: 10px;
}
.trace-tool .sg-form .page .field input, .trace-tool .sg-form .page .field textarea, .trace-tool .sg-form .page .field select {
  background-color: #f8f8f8;
  color: #6d6d6d;
  border: 0px;
  font-size: 0.8em;
  font-family: futurab;
  width: 100%;
}
.trace-tool .sg-form .sg-menu {
  padding: 1px;
  text-align: center;
}
.trace-tool .sg-form .sg-menu li {
  width: 100%;
}
.trace-tool .sg-form .sg-menu a {
  background-color: #096961;
  color: white;
}
.trace-tool .sg-form .sg-menu a:active {
  background-color: #2f5a04;
}
.trace-tool .sg-form .sg-menu .text {
  margin: 0px;
}

/*# sourceMappingURL=Mapbox.css.map */
