/* Scss Document */



@keyframes page-open{
	0%{
        max-height:0vh;
        overflow: hidden; 
    }
    
	100%{
		overflow: auto;
        max-height:100vh;
	}
}

@keyframes page-close{
	0%{
        max-height:100vh;
        overflow: hidden;
	}
    
	100%{
        max-height:0vh;
        overflow: hidden;
	}
}


@keyframes open {
	0%{
		opacity:0;
		transform: scale(0.5);
    	transform-origin: 0 0;
		
	}
	100%{
		opacity:1;
		transform: scale(1);
    	transform-origin: 0 0;
	}
}

@keyframes close {
	0%{
		opacity:1;
		//visibility: visible;
	}

	100%{
		opacity:0;
		//visibility: hidden!important;
	}
}


@keyframes acc-open{
	0%{
		max-height: 0px;
		overflow: hidden;
		padding-left: 30px;
		opacity: 0;
    }
    
	100%{
		max-height: 600px;
		opacity: 1;
	}
}

@keyframes acc-close{
	0%{
		max-height: 600px;
		opacity: 1;
	}

	100%{
		max-height: 0px;
		overflow: hidden;
	}
}

$font-size: 12pt;
$font-family: arial;

.sg-form{
    border:2px solid #DADADA;
    padding: 4px;
    >.caption{
        text-align: center;
        color: #646464;
        background-color: #DADADA;
        line-height: 2em;
        
    }
    >.page{
       //background-color: #BEBEBE;

    }
.field{
            margin:2px;
            padding: 2px;
            border:2px solid #DADADA;  
        }



}


.sg-page{
    //max-width:600px;
    width:100%;
    >.caption{
        //text-align: center;
        color:rgb(129, 129, 129);
        background: linear-gradient(rgb(224, 224, 224), rgb(214, 214, 214),);
        -webkit-user-select: none;  /* Chrome 49+ */
        -moz-user-select: none;     /* Firefox 43+ */
        -ms-user-select: none;      /* No support yet */
        user-select: none;          /* Likely future */ 
        cursor: pointer;
        padding: 2px;
        display: flex;
        //justify-content: center;
        >.text{
            flex:1 1 auto;
            //text-align: center;
            margin-left: 10px;
        }

        >.icon{
            display:  inline-block;
            border:1px solid white;
            width:20px;
            height:20px;
            vertical-align: baseline;
        }
        
    }
    >.page{
        position: relative;
        overflow: auto;
    }

    &.page-default{
        >.caption{
            >.arrow{
                display: none;
            }
        }
    }

    &.open{
        >.caption{
            >.arrow{
                
                float:right;
                margin:5px;
                width:10px;
                height:3px;
                //margin-right: 12px;
                background-size: 100%;
                background-color: rgba(196,196,196,1.00);
            }
        }
        >.page{
            //color:red;
            max-height: 600px;
            transition: color 1s, max-height 1.0s ease-in, overflow 1.0s;
            overflow: auto;
            //animation: page-open  3.2s ease-out forwards;
        }

    }
    &.close{
        >.caption{
            >.arrow{
                
                float:right;
                margin:5px;
                width: 10px;
                height: 10px;
                border-style: solid;
                border-width: 9px 6px 0 6px;
                border-color: #646464 transparent transparent transparent;
                //background-repeat:no-repeat;
                background-color: transparent;
            }
        }
        >.page{
            //color:green;
            max-height: 0px;
            overflow: hidden;
            transition: color 1s, max-height 1.0s ease-out,overflow 1.0s;
            //animation: page-close  3.2s ease-out forwards;
        }

    }
}

.sg-menu.summer{
    width:350px;

    .item{
        >.popup{
            position: fixed;
            user-select: "none";
            overflow: "none";
            z-index: 150000000;
        }
        &.open{
            >.popup{
                visibility: visible;
            }
        }
        &.close{
            >.popup{
                visibility: hidden;
            }
        }

    }




    &.menu-dropdown{
        .option{
            min-width: 160px;
        }
        
    }
    
    >.caption{
        font-size: $font-size;
        font-family: $font-family;
        font-weight: bold;
        background-color: #C0C0C0;
        line-height: 2em;
        
        text-align: center;
        color:  #3F3F3F;
        letter-spacing: 0.2em;
    }
    .menu{
        background-color: #DADADA;
        padding: 2px;
        .item{
            //background-color: red;
            margin:2px;
            font-size: $font-size - 1pt;
            button.option{
                height: 100%;
                width: 100%;
                vertical-align: bottom;
                line-height: 2em;
                
               
            }
            .option:not(button){
                background-color: #525252;
                color: #BEBEBE;
                line-height: 2em;
                padding-left: 4px;
                
                &:hover{
                    background-color: #2F0133;
                    color:pink;
                }
            }
        }
        
    }
    
    
}

.sg-menu{
    .icon{
            background-image: url("../icons/png/003-curling.png");
            background-size: 100% 100%;

        }
    .w-icon{
        
    }
    &.n-icon .icon{
        display: none;
    }
    .submenu .item{
        min-width: 150px;
        
    }
    .option{
        //display: block;
        //padding: 4px;
        display: flex;
        flex-direction: row;

        //align-content: center;
        //justify-content: center;
        align-items: center;
        >.text{
            margin-left:4px;
            flex:1 1 auto;
        }
        >.ind{

            flex:0 0 auto;
            margin-right:4px;
        }
    }
    button{
        
        //display: block;
    }
    a{
        text-decoration: none;
    }
    ul{
        margin:0px;
        padding:0px;
    }        
    li{
        list-style-type: none;
    }
    
    
    &.menu-dropdown{
        >.caption{
            display: none;
        }
        >.menu{
            display: flex;
            flex-direction: row;  
            >*{
                flex: 1 1 auto;
            }
            
        }
        
    }
    .menu > .item{
        .option .icon{
            width: 20px;
            height: 20px;
            border:1px solid #CECECE;
        }
        
        &.close{
            > .option >.ind{
                //float:right;
               // margin:5px;
                width: 10px;
                height: 10px;
                border-style: solid;
                border-width: 9px 6px 0 6px;
                border-color: #d9ff00 transparent transparent transparent;
                //background-repeat:no-repeat;
                background-color: transparent;
            }
        }
        &.open{
            > .option >.ind{
                //float:right;
                //margin:5px;
                width:10px;
                height:3px;
                //margin-right: 12px;
                background-size: 100%;
                background-color: rgba(196,196,196,1.00);
            }
        }
    }

    &.menu-popup{
        .menu > .item{
            &.close{
                > .submenu{
                    
                    animation: close  0.5s ease-out;
                }
            }
            &.open{
                > .submenu{
                    animation: open  0.2s ease-out;
                }
            }
        }

    }
    &.menu-accordion{
        .menu > .item{
            &.close{
                > .submenu{
                    max-height: 0px;
                    overflow: hidden;
                    padding-left: 30px;
                    opacity: 0;
                    padding: 0px;
                    transition-duration: 0.2s;
                    transition-property: all;
                }
            }
            &.open{
                > .submenu{
                    max-height: 600px;
                    opacity: 1;
                    padding: 0px 0px 0px 4px;
                    
                    transition-duration: 0.3s;
                    transition-property: all;
                    transition-timing-function: ease-in;
                }
                
            }

        }

    }

    
    

    .menu>.item{
        
        //margin:2px;
        //padding: 4px;
        //border-bottom: solid 1px white;
        
        
        >.option{
            
            //color:white;
            //background-color: red;
            //line-height: 2em;
            //display: block;
        }

        &.close_{
            >.submenu{
                animation: close  0.5s ease-out;
            }
		}
		&.open_{
            >.submenu{
                animation: open  0.2s ease-out;
            }
			
		}

        
    }
    .submenu{
        
        
        &.close{
            //position: absolute;
            //visibility: hidden;
        }
        
    }
    
}