.sg-paginator{
    margin-left:auto;
    margin-right:auto;
    
    border:2px solid rgb(245, 243, 243);
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 9pt;
    display: flex ;
    flex-wrap: wrap;
    .page{
        width:30px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        line-height: 2em;
        vertical-align: middle;
        border-radius: 4px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 9pt;
        &:not(.active):not(.hidden){
            background-color: rgb(231, 231, 231);
            cursor: pointer;
            color:rgb(117, 117, 117);
            &:hover{
                background-color: black;
                color:aqua;
            }
        }
        
    } 
    .active{
        //font-weight: bold;
        background-color: rgb(168, 168, 168);
        color:rgb(66, 66, 66);
        transition: background-color .5s;
        
    }
    .hidden{
       // display: none;
       background-color: rgb(231, 231, 231);
       cursor: default;
    }
    select{
        font-family: 'Courier New', Courier, monospace;
    font-size: 9pt;
        border: 1px solid rgb(224, 224, 224);
        color:rgb(117, 117, 117);
    }

}