/* Scss Document */
.disabled .option {
  color: gray !important;
}

.sep {
  _height: 4px;
  border: 1px solid red;
  max-width: 3px;
}

#s {
  background-color: #871a1c;
  color: white;
  height: 400px;
  width: 400px;
  display: none;
  _-ms-flex-line-pack: center;
  _    align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#s > div {
  _height: 50px;
  width: 50px;
  background-color: #6b6b6b;
  border: 2px solid white;
  margin: 2px;
}

@-webkit-keyframes open {
  0% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
            transform: scale3d(0.5, 0.5, 0.5);
    _-webkit-transform: translate(-5%, -5%);
    _        transform: translate(-5%, -5%);
  }
  100% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes open {
  0% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
            transform: scale3d(0.5, 0.5, 0.5);
    _-webkit-transform: translate(-5%, -5%);
    _        transform: translate(-5%, -5%);
  }
  100% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes close {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    _-webkit-transform-origin: 0% 0%;
    _        transform-origin: 0% 0%;
    opacity: 0;
    visibility: hidden !important;
  }
}

@keyframes close {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    _-webkit-transform-origin: 0% 0%;
    _        transform-origin: 0% 0%;
    opacity: 0;
    visibility: hidden !important;
  }
}

.submenu.open {
  opacity: 0;
  visibility: visible !important;
  -webkit-animation: open  0.5s ease-out none;
          animation: open  0.5s ease-out none;
}

.submenu.close {
  -webkit-animation: close  0.2s ease-out 0s none;
          animation: close  0.2s ease-out 0s none;
  /*
	transition-duration: 2s;
	transition-property: all;
	transition-timing-function: ease-in-out;
	*/
}

._sg_menu, ._submenu {
  background-color: #cb5f01;
  color: white;
}

._sg_menu div.caption, ._submenu div.caption {
  background-color: #933335;
  text-align: center;
  padding: 4px;
}

._sg_menu ul, ._submenu ul {
  padding: 0px;
  margin: 2px;
}

._sg_menu ul li, ._submenu ul li {
  background-color: rgba(0, 0, 0, 0.1);
  list-style: none;
}

._sg_menu ul li:hover, ._submenu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

._sg_menu li.close div.ind, ._submenu li.close div.ind {
  float: right;
  width: 14px;
  height: 14px;
  margin: 10px;
  background-size: 100%;
  background-image: url(../images/dn_02.png);
  _background-position: 0px 0px;
  background-repeat: no-repeat;
}

._sg_menu li.open, ._submenu li.open {
  background-color: rgba(0, 0, 0, 0.2);
}

._sg_menu li.open div.ind, ._submenu li.open div.ind {
  float: right;
  width: 14px;
  height: 14px;
  margin: 10px;
  background-size: 100%;
  background-image: url(../images/up_04.png);
  _background-position: 0px 0px;
  background-repeat: no-repeat;
}

._sg_menu li > .option, ._submenu li > .option {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  color: white;
  border: 1px solid white;
  margin: 0px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._sg_menu li > .option div.img, ._submenu li > .option div.img {
  height: 24px;
  width: 24px;
}

._sg_menu li > .option div.no-img, ._submenu li > .option div.no-img {
  height: 24px;
  width: 24px;
  background-color: rgba(0, 0, 0, 0.17);
}

._sg_menu li > .option img, ._submenu li > .option img {
  _display: inline;
  _height: 24px;
  height: 100%;
  width: 100%;
  _vertical-align: middle;
}

._sg_menu li > .option .text, ._submenu li > .option .text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 10px;
  padding-right: 10px;
  _display: inline;
  _height: 24px;
  _vertical-align: bottom;
  _border: 1px solid white;
}

._sg_menu li > .option > *, ._submenu li > .option > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  _display: inline;
}

.type_default {
  width: 300px;
}

.type_default {
  position: relative;
  _z-index: 150000000;
  background-color: #f9f9f9;
  border: 2px solid #d8d8d8;
  padding: 4px;
  _width: 300px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.type_default > ul {
  _max-height: 400px;
  _overflow: auto;
  padding: 0px;
  margin: 0px;
  /*outline-style: double;
    outline-color: red;
    outline-width: thick;*/
}

.type_default li {
  list-style: none;
}

.type_default li > div {
  height: 30px;
}

.type_default li > div:hover {
  cursor: pointer;
  background-color: #dbdbdb;
  color: white;
  _-webkit-transition: 0.3s background ease-out;
  _transition: 0.3s background ease-out;
}

.type_default div.caption {
  background-color: #7f7f7f;
  color: #ececec;
  text-align: center;
  padding: 4px;
}

.type_default ul ul {
  background-color: #f3f3f3;
  border: 2px solid white;
  overflow: hidden;
  _max-width: 120px;
  padding: 0px;
  margin: 0px;
  margin-left: 0px;
  white-space: nowrap;
  margin-right: 4px;
  -webkit-box-shadow: 0px 0px 10px 3px #7b7b7b;
          box-shadow: 0px 0px 10px 3px #7b7b7b;
}

.type_default ul ul li {
  _background-color: rgba(208, 212, 133, 0.3);
}

.type_default li.close > div > div.ind {
  float: right;
  margin: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 6px 0 6px;
  border-color: #007bff transparent transparent transparent;
  /*transition: 0.5s ease-out all;
			width:14px;
			height:14px;
			
			background-size: 100%;
			background-image:url(../images/dn_02.png);
			
			*/
  _background-position: 0px 0px;
  background-repeat: no-repeat;
}

.type_default li.open > div > div.ind {
  float: right;
  margin: 10px;
  /*width: 0;
height: 0;
border-style: solid;
border-width: 0 6px 9px 6px;
border-color: transparent transparent #8B8B8B transparent;
		
			transition: 0.5s ease-out all;
				*/
  width: 8px;
  height: 3px;
  margin-right: 12px;
  background-size: 100%;
  background-color: #c4c4c4;
}

.type_default li.close > ul {
  _max-height: 0px;
  overflow: hidden;
  _padding-left: 30px;
  opacity: 0;
  /*
		max-height: 0px;
		*/
  _-webkit-transition-duration: 0.2s;
  _        transition-duration: 0.2s;
  _-webkit-transition-property: all;
  _transition-property: all;
  _-webkit-transition-delay: 0.5s;
  _        transition-delay: 0.5s;
  _visibility: hidden;
}

.type_default li.open > ul {
  _background-color: #ededed;
  max-height: 600px;
  overflow: hidden;
  opacity: 1;
  _-webkit-transition-duration: 0.5s;
  _        transition-duration: 0.5s;
  _-webkit-transition-property: all;
  _transition-property: all;
  _-webkit-transition-timing-function: ease-in;
  _        transition-timing-function: ease-in;
  _visibility: visible;
}

.type_default li > .option {
  _background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #767676;
  border-bottom: 1px solid #d5e2f3;
  margin: 0px;
  _height: 30px;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type_default li > .option div.icon {
  height: 24px;
  width: 24px;
}

.type_default li > .option div.no-img {
  height: 24px;
  width: 24px;
  background-color: rgba(0, 0, 0, 0.17);
}

.type_default li > .option img {
  _display: inline;
  _height: 24px;
  height: 100%;
  width: 100%;
  _vertical-align: middle;
}

.type_default li > .option > * {
  _display: inline;
}

.type_default li > .option .text, .type_default li > .option .caption {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 10px;
  padding-right: 10px;
  _display: inline;
  _height: 24px;
  _vertical-align: bottom;
  _border: 1px solid white;
}

.type_accordion, .type_accordionx, .type_accordiony {
  background-color: #f9f9f9;
  border: 2px solid #d8d8d8;
  padding: 4px;
  _width: 300px;
}

.type_accordion > ul, .type_accordionx > ul, .type_accordiony > ul {
  _max-height: 400px;
  _overflow: auto;
  padding: 0px;
  margin: 0px;
  /*outline-style: double;
    outline-color: red;
    outline-width: thick;*/
}

.type_accordion li, .type_accordionx li, .type_accordiony li {
  list-style: none;
}

.type_accordion li > div, .type_accordionx li > div, .type_accordiony li > div {
  height: 30px;
}

.type_accordion li > div:hover, .type_accordionx li > div:hover, .type_accordiony li > div:hover {
  cursor: pointer;
  background-color: #dbdbdb;
  color: white;
  _-webkit-transition: 0.3s background ease-out;
  _transition: 0.3s background ease-out;
}

.type_accordion div.caption, .type_accordionx div.caption, .type_accordiony div.caption {
  background-color: #7f7f7f;
  color: #ececec;
  text-align: center;
  padding: 4px;
}

.type_accordion ul ul, .type_accordionx ul ul, .type_accordiony ul ul {
  padding: 0px;
  margin: 0px;
  margin-left: 20px;
}

.type_accordion ul ul li, .type_accordionx ul ul li, .type_accordiony ul ul li {
  background-color: rgba(208, 212, 133, 0.3);
}

.type_accordion li.close > div > div.ind, .type_accordionx li.close > div > div.ind, .type_accordiony li.close > div > div.ind {
  float: right;
  margin: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 6px 0 6px;
  border-color: #007bff transparent transparent transparent;
  /*transition: 0.5s ease-out all;
			width:14px;
			height:14px;
			
			background-size: 100%;
			background-image:url(../images/dn_02.png);
			
			*/
  _background-position: 0px 0px;
  background-repeat: no-repeat;
}

.type_accordion li.open > div > div.ind, .type_accordionx li.open > div > div.ind, .type_accordiony li.open > div > div.ind {
  float: right;
  margin: 10px;
  /*width: 0;
height: 0;
border-style: solid;
border-width: 0 6px 9px 6px;
border-color: transparent transparent #8B8B8B transparent;
		
			transition: 0.5s ease-out all;
				*/
  width: 8px;
  height: 3px;
  margin-right: 12px;
  background-size: 100%;
  background-color: #c4c4c4;
}

.type_accordion li.close > ul, .type_accordionx li.close > ul, .type_accordiony li.close > ul {
  max-height: 0px;
  overflow: hidden;
  padding-left: 30px;
  opacity: 0;
  /*
		max-height: 0px;
		*/
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
  _-webkit-transition-delay: 0.5s;
  _        transition-delay: 0.5s;
  _visibility: hidden;
}

.type_accordion li.open > ul, .type_accordionx li.open > ul, .type_accordiony li.open > ul {
  max-height: 600px;
  _overflow: hidden;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  _visibility: visible;
}

.type_accordion li > .option, .type_accordionx li > .option, .type_accordiony li > .option {
  _background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #767676;
  border-bottom: 1px solid #d5e2f3;
  margin: 0px;
  _height: 30px;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type_accordion li > .option div.icon, .type_accordionx li > .option div.icon, .type_accordiony li > .option div.icon {
  height: 24px;
  width: 24px;
}

.type_accordion li > .option div.no-img, .type_accordionx li > .option div.no-img, .type_accordiony li > .option div.no-img {
  height: 24px;
  width: 24px;
  background-color: rgba(0, 0, 0, 0.17);
}

.type_accordion li > .option img, .type_accordionx li > .option img, .type_accordiony li > .option img {
  _display: inline;
  _height: 24px;
  height: 100%;
  width: 100%;
  _vertical-align: middle;
}

.type_accordion li > .option .text, .type_accordion li > .option .caption, .type_accordionx li > .option .text, .type_accordionx li > .option .caption, .type_accordiony li > .option .text, .type_accordiony li > .option .caption {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 10px;
  padding-right: 10px;
  _display: inline;
  _height: 24px;
  _vertical-align: bottom;
  _border: 1px solid white;
}

.type_accordion li > .option > *, .type_accordionx li > .option > *, .type_accordiony li > .option > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  _display: inline;
}

.type_system {
  background-color: #4a4343;
  border: 1px solid red;
  color: white;
  width: 800px;
}

.type_system > ul {
  _max-height: 400px;
  _overflow: auto;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type_system > ul > li {
  _display: inline-block;
  width: 180px;
}

.type_system li {
  list-style: none;
}

.type_system div.caption {
  background-color: #933335;
  text-align: center;
  padding: 4px;
}

.type_system ul ul {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
}

.type_system ul ul li {
  background-color: rgba(0, 0, 0, 0.2);
}

.type_system li.close > div > div.ind {
  float: right;
  width: 14px;
  height: 14px;
  margin: 10px;
  background-size: 100%;
  background-image: url(../images/dn_02.png);
  _background-position: 0px 0px;
  background-repeat: no-repeat;
}

.type_system li.open > div.option {
  background-color: rgba(144, 21, 23, 0.2);
}

.type_system li.open > div > div.ind {
  float: right;
  width: 14px;
  height: 14px;
  margin: 10px;
  background-size: 100%;
  background-image: url(../images/up_04.png);
  _background-position: 0px 0px;
  background-repeat: no-repeat;
}

.type_system li.close > ul {
  max-height: 0px;
  overflow: hidden;
  padding-left: 30px;
  opacity: 0;
  /*
		max-height: 0px;
		*/
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
  _-webkit-transition-delay: 0.5s;
  _        transition-delay: 0.5s;
  _visibility: hidden;
}

.type_system li.open > ul {
  max-height: 600px;
  overflow: hidden;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  _visibility: visible;
}

.type_system li > .option {
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: white;
  border: 1px solid white;
  margin: 0px;
  height: 50px;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type_system li > .option div.img {
  height: 24px;
  width: 24px;
}

.type_system li > .option div.no-img {
  height: 24px;
  width: 24px;
  background-color: rgba(0, 0, 0, 0.17);
}

.type_system li > .option img {
  _display: inline;
  _height: 24px;
  height: 100%;
  width: 100%;
  _vertical-align: middle;
}

.type_system li > .option .text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 10px;
  padding-right: 10px;
  _display: inline;
  _height: 24px;
  _vertical-align: bottom;
  _border: 1px solid white;
}

.type_system li > .option > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  _display: inline;
}

.submenu1 {
  border: 2px solid red;
  margin: 3px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.99);
}

.submenu1 ul[data-sg-menu-type="popup"] {
  background-color: rgba(35, 35, 35, 0.4);
}

.submenu1 div[data-sg-menu-type="caption"] {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 88, 58, 0.86)), to(#232323));
  background: linear-gradient(rgba(4, 88, 58, 0.86), #232323);
  color: white;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  font-size: 9pt;
  font-weight: bold;
  text-transform: uppercase;
}

.submenu1 ul {
  padding: 0px;
  margin: 0px;
}

.submenu1 li {
  list-style: none;
  padding: 2px;
}

.submenu1 li[data-sg-menu-type="item"] > div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: white;
}

.submenu1 li[data-sg-menu-type="item"] > div a span {
  padding-right: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.submenu1 li[data-sg-menu-mode="open"] {
  background-color: rgba(0, 0, 0, 0.2);
}

.submenu1 li[data-sg-menu-mode="open"] a > div[data-sg-menu-type="ind"] {
  float: right;
  width: 14px;
  height: 14px;
  background-size: 100%;
  background-image: url(../images/up_04.png);
  _background-position: 0px 0px;
  background-repeat: no-repeat;
}

.submenu1 li[data-sg-menu-mode="close"] a > div[data-sg-menu-type="ind"] {
  float: right;
  width: 14px;
  height: 14px;
  background-size: 100%;
  background-image: url(../images/dn_02.png);
  _background-position: 0px 0px;
  background-repeat: no-repeat;
}

.submenu1 li[data-sg-menu-mode="close"] > ul {
  display: none;
}

.submenu1 ul[data-sg-menu-type="main"] {
  _background-color: rgba(28, 64, 70, 0);
}

.submenu1 ul[data-sg-menu-type="main"] ul {
  list-style: none;
  margin-left: 10px;
}

.submenu1 li > div:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.submenu1 div {
  background-color: rgba(28, 64, 70, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-item-align: center;
      align-self: center;
}

.submenu1 div div {
  background-color: transparent;
  border: 0px solid white;
  _-webkit-box-flex: 0;
  _    -ms-flex: 0 0 auto;
  _        flex: 0 0 auto;
  height: 24px;
  margin-left: 5px;
  margin-right: 5px;
  width: 24px;
}

.submenu1 div input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  _margin: 4px;
}
/*# sourceMappingURL=sgMenu.css.map */