/* Scss Document */
$active_color : rgb(204, 83, 13);


.sg-tab{
	margin:0x;
	border:1px solid rgb(182, 182, 182);
	//height: 100px;
	width: 100%;
	background-color: rgb(207, 207, 207);
	padding: 4px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	
	>.tab-menu{
		flex: 0 0 auto;
		box-sizing: padding-box!important;
		padding: 0px;
		margin: 0px;
		padding: 0px;
		//list-style-type: none;
		display: flex;
		justify-content: baseline;
		flex-wrap: wrap;
		font-size: 9pt;
		>*{
			
			//flex:1 1 auto;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis'...';
			max-width: 90px;
			min-width: 70px;
			//flex-direction: column;
			box-sizing: padding-box;
			background-color: rgba(111,111,111,1.00);
			text-decoration: none;
			color: white;
			margin: 0px 2px 0px 0px;
			padding:4px 10px 4px 10px;
			cursor: pointer;
			-webkit-user-select: none;  /* Chrome 49+ */
			-moz-user-select: none;     /* Firefox 43+ */
			-ms-user-select: none;      /* No support yet */
			user-select: none;          /* Likely future */ 
			
			
			

			border-radius: 4px 12px 0px 0px;
			&.tab-active{
				background-color: $active_color;
			}
		}
		
	

	}
	>.tab-body{
		flex:1 1 auto;
		color:white !important;
		border-top:4px solid $active_color;
		margin: 0px;
		padding: 0px;
		//overflow: scroll;
		height: 100%;
		display: flex;
		>*{
			flex:1 1 auto;
			overflow: auto;
		}
		>*{

			display: none;
			&.tab-active{
				display: flex;
			}
		}
	}	
}

#tab11{

	border:0px solid blue;
	height: 300px;
	width: 500px;
	
}


//$active_color : rgba(13,62,177,1.00);
.sg-tab-main{
	>.sg-tab-menu{
		box-sizing: padding-box!important;
		padding: 4px;
		>.sg-tab-imenu{
			box-sizing: padding-box!important;
			background-color: rgba(111,111,111,1.00);
			text-decoration: none;
			color:white;
			margin: 0px 2px 0px 0px;
			padding:4px 10px 4px 10px;
			cursor: pointer;
			-webkit-user-select: none;  /* Chrome 49+ */
			-moz-user-select: none;     /* Firefox 43+ */
			-ms-user-select: none;      /* No support yet */
			user-select: none;          /* Likely future */ 
			
			
			

			border-radius: 4px 12px 0px 0px;
			&.sg-tab-active{
				background-color: $active_color;
			}
		}
		
		>.sg-tab-body{
		border-top:4px solid $active_color;
		>.sg-tab-ibody{

			display: none;
			&.sg-tab-active{
				display: block!important;
			}
		}
	}

	}
	>.sg-tab-body{
		border-top:4px solid $active_color;
		>.sg-tab-ibody{

			display: none;
			&.sg-tab-active{
				display: block!important;
			}
		}
	}	
}

