/* Scss Document */
$active_color : rgb(204, 83, 13);
.sg-tab{
	>.menu{

		>.tab-menu{
      		display: inline-block;
			background-color: rgba(111,111,111,1.00);
			text-decoration: none;
			color: white;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis'...';
			max-width: 90px;
			min-width: 70px;
			box-sizing: padding-box;
			border-radius: 4px 12px 0px 0px;
			margin: 0px 2px 0px 0px;
			padding:4px 10px 4px 10px;
			cursor: pointer;
			user-select: none;         
			&.tab-active{
				background-color: red;
			}
		}
	}
	>.body{
		>.tab-body{
			&:not(.tab-active){
				display: none !important;
			}
		}
	}	
}

.sg-tab_{
	margin:0x;
	border:1px solid rgb(182, 182, 182);
	//height: 100px;
	width: 100%;
	background-color: rgb(207, 207, 207);
	padding: 4px;
	display: flex;
	flex-direction: column;
	overflow: auto;
	
	>.tab-menu{
		flex: 0 0 auto;
		box-sizing: padding-box!important;
		padding: 0px;
		margin: 0px;
		padding: 0px;
		//list-style-type: none;
		display: flex;
		justify-content: baseline;
		flex-wrap: wrap;
		font-size: 9pt;
		>*{
			
			//flex:1 1 auto;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis'...';
			max-width: 90px;
			min-width: 70px;
			//flex-direction: column;
			box-sizing: padding-box;
			background-color: rgba(111,111,111,1.00);
			text-decoration: none;
			color: white;
			margin: 0px 2px 0px 0px;
			padding:4px 10px 4px 10px;
			cursor: pointer;
			-webkit-user-select: none;  /* Chrome 49+ */
			-moz-user-select: none;     /* Firefox 43+ */
			-ms-user-select: none;      /* No support yet */
			user-select: none;          /* Likely future */ 
			
			
			

			border-radius: 4px 12px 0px 0px;
			&.tab-active{
				background-color: $active_color;
			}
		}
		
	

	}
	>.tab-body{
		flex: 1 1 auto;
		color:white !important;
		border-top:4px solid $active_color;
		//margin: 0px;
		//padding: 0px;
		overflow: auto;
		//height: 100%;
		display: flex;
	
		>div{
			//display: none;
			border: 4px solid red;
			&:not(.tab-active){
				display: none;
			}
			
			&.tab-active{
				display: flex;
				overflow: auto;
				border: 4px solid red;

				>*{
					flex: 1 1 auto;
					overflow: auto;
					border: 4px solid rgb(163, 53, 130);
					
				}
			}
		}
	}	
}


