/* Scss Document */
.sg-tab {
  margin: 0x;
  border: 1px solid #b6b6b6;
  width: 100%;
  background-color: #cfcfcf;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.sg-tab > .tab-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-sizing: padding-box !important;
          box-sizing: padding-box !important;
  padding: 0px;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 9pt;
}

.sg-tab > .tab-menu > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis "...";
  max-width: 90px;
  min-width: 70px;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  background-color: #6f6f6f;
  text-decoration: none;
  color: white;
  margin: 0px 2px 0px 0px;
  padding: 4px 10px 4px 10px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome 49+ */
  -moz-user-select: none;
  /* Firefox 43+ */
  -ms-user-select: none;
  /* No support yet */
  user-select: none;
  /* Likely future */
  border-radius: 4px 12px 0px 0px;
}

.sg-tab > .tab-menu > *.tab-active {
  background-color: #cc530d;
}

.sg-tab > .tab-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: white !important;
  border-top: 4px solid #cc530d;
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sg-tab > .tab-body > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
}

.sg-tab > .tab-body > * {
  display: none;
}

.sg-tab > .tab-body > *.tab-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tab11 {
  border: 0px solid blue;
  height: 300px;
  width: 500px;
}

.sg-tab-main > .sg-tab-menu {
  -webkit-box-sizing: padding-box !important;
          box-sizing: padding-box !important;
  padding: 4px;
}

.sg-tab-main > .sg-tab-menu > .sg-tab-imenu {
  -webkit-box-sizing: padding-box !important;
          box-sizing: padding-box !important;
  background-color: #6f6f6f;
  text-decoration: none;
  color: white;
  margin: 0px 2px 0px 0px;
  padding: 4px 10px 4px 10px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome 49+ */
  -moz-user-select: none;
  /* Firefox 43+ */
  -ms-user-select: none;
  /* No support yet */
  user-select: none;
  /* Likely future */
  border-radius: 4px 12px 0px 0px;
}

.sg-tab-main > .sg-tab-menu > .sg-tab-imenu.sg-tab-active {
  background-color: #cc530d;
}

.sg-tab-main > .sg-tab-menu > .sg-tab-body {
  border-top: 4px solid #cc530d;
}

.sg-tab-main > .sg-tab-menu > .sg-tab-body > .sg-tab-ibody {
  display: none;
}

.sg-tab-main > .sg-tab-menu > .sg-tab-body > .sg-tab-ibody.sg-tab-active {
  display: block !important;
}

.sg-tab-main > .sg-tab-body {
  border-top: 4px solid #cc530d;
}

.sg-tab-main > .sg-tab-body > .sg-tab-ibody {
  display: none;
}

.sg-tab-main > .sg-tab-body > .sg-tab-ibody.sg-tab-active {
  display: block !important;
}
/*# sourceMappingURL=sgTab.css.map */