/* Scss Document */
@-webkit-keyframes w-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes w-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes w-hidden {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes w-hidden {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.sgPopup.visible {
  -webkit-animation: 0.5s w-visible ease-in forwards;
          animation: 0.5s w-visible ease-in forwards;
}

.sgPopup.hidden {
  -webkit-animation: 0.2s w-hidden ease-out backwards;
          animation: 0.2s w-hidden ease-out backwards;
}

#menu_01 {
  width: 100%;
}

.clock {
  background-image: url(../images/clock.png);
  background-size: 100% 100%;
}

.play {
  background-image: url(../../themes/_common/images/Admin.png);
  background-size: 100% 100%;
}

.sgWindow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  min-width: 160px;
  min-height: 44px;
  -webkit-box-shadow: 5px 5px 5px rgba(132, 132, 132, 0.5);
          box-shadow: 5px 5px 5px rgba(132, 132, 132, 0.5);
  border: 2px solid #868484;
  _border-radius: 4px;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sgWindow.active {
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  border-color: red;
}

.sgWindow.visible {
  -webkit-animation: 0.5s w-visible ease-in forwards;
          animation: 0.5s w-visible ease-in forwards;
}

.sgWindow.hidden {
  -webkit-animation: 0.2s w-hidden ease-out backwards;
          animation: 0.2s w-hidden ease-out backwards;
}

.sgWindow.min {
  max-width: 80px;
}

.sgWindow.resize, .sgWindow.move {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sgWindow > .header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.sgWindow > .header img {
  height: 20px;
}

.sgWindow > .body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
}

.sgWindow .rs.rb {
  background-color: #ab0c0f !important;
  border-radius: 5px;
  /*
			height: 0px!important;
			width: 0px!important;
			border: 4px solid green;
			*/
}

.sgWindow > .header {
  _background-color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#4a0303), to(#a50c00));
  background: linear-gradient(#4a0303, #a50c00);
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 8px 0px 8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.sgWindow > .header .icon {
  min-width: 20px;
  height: 20px;
  _border: 1px solid white;
  pointer-events: none;
}

.sgWindow > .header .caption {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: white;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.sgWindow > .header div[class^=btn] {
  border: 0px solid red;
  _background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  min-width: 20px;
  height: 20px;
  background-image: url(../images/win_icons.png?i=18);
  margin: 1px;
}

.sgWindow > .header div.btn_min {
  background-position: 0px -20px;
}

.sgWindow > .header div.btn_min:HOVER {
  background-position: 0px -240px;
}

.sgWindow > .header div.btn_auto {
  background-position: -20px -20px;
}

.sgWindow > .header div.btn_auto:HOVER {
  background-position: -20px -240px;
}

.sgWindow > .header div.btn_max {
  background-position: -40px -20px;
}

.sgWindow > .header div.btn_max:HOVER {
  background-position: -40px -240px;
}

.sgWindow > .header div.btn_close {
  background-position: -60px -20px;
}

.sgWindow > .header div.btn_close:HOVER {
  background-position: -60px -240px;
}
/*# sourceMappingURL=sgWindow.css.map */