@font-face {
font-family: Hemihead;
src: url(../../../fonts/HEMIHEAD.TTF);

}

@font-face {
font-family: airstrike;
src: url(../../fonts/airstrike.ttf);
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	
}

html, body{
	margin:0px;
	height: 100%;
	
}



form{

	height: 100%;
	margin: 0px;
	padding: 0px;
}


.sg-menu{
	
	.text{
		font-size: 9px;
		margin: 2px;	
	}
	.icon{
		display: none;
	}
}