.cota-main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cota-main > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cota-main .map-main {
  height: 100%;
}

.gt-cota > .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gt-layout-1 {
  display: -ms-grid;
  display: grid;
  grid-gap: 0px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 40px auto;
      grid-template-rows: 40px auto;
  height: 100%;
  overflow: auto;
}

.gt-layout-1 > .menu {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.gt-layout-1 > .body {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.units-popup {
  background-color: white;
  max-height: 200px;
  width: 200px;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  overflow: auto;
  grid-gap: 2px;
  text-transform: uppercase;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  -ms-flex-line-pack: start;
      align-content: start;
}

.units-popup .unit-name {
  text-align: center;
  font-weight: bold;
  color: #097e5b;
}

.units-popup > div {
  background-color: #f7f7f7;
}

.units-popup > div > * {
  padding: 2px;
  display: inline;
}

.units-popup > div > :nth-child(1) {
  color: #979797;
  font-size: 10px;
}

.units-popup > div > :nth-child(2) {
  padding-left: 8px;
  color: #727272;
  font-size: 12px;
}

.units-info {
  color: white;
}

.units-info > :nth-child(2n+1) {
  color: #bffaba;
}

.units-info {
  padding: 2px;
  font-size: 9px;
  display: -ms-grid;
  display: grid;
  height: 100%;
  overflow: auto;
  grid-gap: 5px;
  text-transform: uppercase;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-line-pack: start;
      align-content: start;
}

.units-info > div {
  background-color: rgba(87, 87, 87, 0.555);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
}

.units-info > div > :nth-child(1) {
  color: #fdee20;
  font-size: 9px;
  -ms-grid-column: 1;
  grid-column: 1;
}

.units-info > div > :nth-child(2) {
  color: #b6b6b6;
  font-size: 10px;
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: left;
}

.wecar_info {
  background-color: #187fbb;
  color: #d1faff;
  font-size: 10px;
  font-weight: bold;
  padding: 4px;
  margin: 4px;
  min-width: 200px;
}

.info2 {
  margin: 10px;
  padding: 10px;
  background-color: white;
}

.info2 .s {
  margin: 10px;
  padding: 10px;
  border: 2px solid red;
}

.subwin {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  height: 100%;
  overflow: auto;
}

.subwin > :nth-child(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  height: 100%;
  overflow: auto;
}

.subwin > :nth-child(2) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  height: 100%;
  overflow: auto;
}

.sgWin .body {
  height: 100%;
}

.sg-grid {
  height: 100%;
}

.sg-message-box {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 20px;
  padding: 10px;
  background-color: #0071ce;
  border: 0px solid #ec8484;
  border-radius: 5px;
  -webkit-box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.71);
          box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.71);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: hidden;
  visibility: visible;
  opacity: 1;
}

.sg-message-box > .caption {
  color: white;
  text-align: right;
  border-bottom: 2px solid white;
}

.sg-message-box > .text {
  color: aqua;
  padding: 4px;
}

.sg-message-box.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.9s linear,opacity 0.9s linear;
  transition: visibility 0.9s linear,opacity 0.9s linear;
}

.subwin .sg-form, #form_p10 .sg-form {
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.863);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.subwin .sg-form .caption, #form_p10 .sg-form .caption {
  background-color: #dd6018;
  text-align: center;
  font-size: 13px;
  line-height: 2.0em;
  font-weight: bold;
  vertical-align: middle;
  color: #e0e0e0;
}

.subwin .sg-form .page, #form_p10 .sg-form .page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
}

.subwin .sg-form .page .field, #form_p10 .sg-form .page .field {
  padding: 4px;
}

.subwin .sg-form .page .field label, #form_p10 .sg-form .page .field label {
  color: #138bbb;
  font-size: 13px;
  padding-left: 10px;
}

.subwin .sg-form .page .field input, #form_p10 .sg-form .page .field input {
  border: 1px solid #b8b8b8;
  color: #7a7a7a;
  font-size: 12px;
  line-height: 1.8em;
  background-color: white;
  padding-left: 4px;
}

.subwin .sg-form .sg-menu, #form_p10 .sg-form .sg-menu {
  background-color: #e4e4e4;
  padding: 4px;
  border: 2px solid #ececec;
  margin-top: 10px;
}

.subwin .sg-form .sg-menu .menu, #form_p10 .sg-form .sg-menu .menu {
  float: right;
}

.subwin .sg-form .sg-menu .option, #form_p10 .sg-form .sg-menu .option {
  line-height: 2em;
  background-color: #ff8800;
  color: #e7e7e7;
  border: 2px solid #ececec;
  cursor: pointer;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.sg-form.webcar {
  background-color: rgba(255, 255, 255, 0.664);
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.sg-form.webcar .caption {
  display: inherit;
  color: white;
  text-align: center;
  background-color: rgba(99, 99, 99, 0.7);
  line-height: 2em;
  vertical-align: middle;
}

.sg-form.webcar .caption .text {
  font-size: 12pt;
  text-transform: uppercase;
  font-family: futurab !important;
}

.sg-form.webcar .page {
  overflow: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  padding: 4px;
  -ms-grid-columns: ([cc-start] minmax(180px, 1fr) [cc-end])[auto-fit];
      grid-template-columns: repeat(auto-fit, [cc-start] minmax(180px, 1fr) [cc-end]);
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sg-form.webcar .page .field {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

.sg-form.webcar .page .field .label {
  color: #474747;
  text-transform: uppercase;
  font-size: 0.8em;
  padding-bottom: 10px;
  font-family: futurab;
  padding-left: 10px;
}

.sg-form.webcar .page .field input, .sg-form.webcar .page .field textarea, .sg-form.webcar .page .field select {
  background-color: #e7e7e7;
  color: #6d6d6d;
  border: 0px;
  font-size: 0.8em;
  padding: 4px;
  font-family: futurab;
  width: 100%;
}

.sg-form.webcar .sg-menu {
  background-color: rgba(32, 32, 32, 0.6);
  padding: 6px;
}

.button-connect.connected {
  background-color: #13bb4b !important;
}

.button-connect.connected > .image {
  background-image: url(../images/connected.png);
}

.button-connect.disconnected {
  background-color: #f56715 !important;
}

.button-connect.disconnected > .image {
  background-image: url(../images/disconnected.png);
}

.debug {
  background-color: white;
}
/*# sourceMappingURL=cota.css.map */