.report-tool {
  font-size: 10pt;
  overflow: auto;
  height: 100%;
  .sg-tab {
    height: 100%;
    display: grid;
    overflow: auto;

    grid-template-rows: auto 1fr;
    > .menu {
      grid-column: 1;
      grid-row: 1;

      //background-color: sandybrown;
      padding: 0px !important;
      height: 20px;
      display: flex;
      flex-direction: row;
      border-bottom: 2px solid rgb(5, 109, 100);
      > .tab-menu {
        flex: 1 1 auto;
        display: inline-block;
        background-color: rgb(226, 226, 226);
        text-decoration: none;
        color: rgb(150, 150, 150);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis"...";
        max-width: auto;
        min-width: 20px;
        //box-sizing: padding-box;
        border-radius: 4px 12px 0px 0px;
        margin: 0px 0px 0px 0px;
        padding: 4px 2px 2px 2px;
        cursor: pointer;
        user-select: none;
        font-size: 10px;
        //line-height: 7.2em;
        text-align: center;
        //width:auto;
        height: 100%;
        &.tab-active {
          background-color: rgb(5, 109, 100);
          color: white;
        }
        &:hover {
          background-color: rgb(42, 216, 201);
          color: white;
        }
      }
    }
    > .body {
      margin: 0px;
      padding: 0px;
      overflow: auto;
      height: 100%;
      display: flex;
      width: 100%;

      > .tab-body {
        width: 100%;

        //height: 100%;
        overflow: auto;
        &:not(.tab-active) {
          display: none !important;
        }

        display: grid;
        grid-template-rows: auto 1fr;
        > :nth-child(2) {
          overflow: auto;

          height: 100%;
        }
      }
    }

    .sg-form {
      display: grid;
      overflow: auto;
      grid-template-rows: auto 1fr auto;
      //height: 100%;
      .page {
        overflow: auto;
        height: 100%;
      }
    }
  }

  .sg-form {
    border: 0px;
    background-color: rgba(255, 255, 255, 0.664);
    //border:1px solid white;
    //max-width: 50%;
    //display: grid;
    //grid-template-rows: auto 1fr auto;
    .caption {
      //display: none;
      color: rgb(146, 146, 146);
      text-align: center;
      background-color: rgba(248, 248, 248, 0.7);
      line-height: 1.8em;
      vertical-align: middle;
      border-bottom: 2px solid rgb(236, 236, 236);
      margin: 4px 0px 0px 0px;
      .text {
        //font-size: 9pt;
        text-transform: uppercase;
        font-family: futurab !important;
      }
    }
    .page {
      //border: 10px solid transparent;
      //overflow: auto;
      //display: grid;
      grid-gap: 0px;
      padding: 0px;
      grid-template-columns: repeat(
        auto-fit,
        [cc-start] minmax(180px, 1fr) [cc-end]
      );
      align-content: start;
      justify-content: center;

      .field {
        margin: 0px;
        padding: 0px;
        background-color: rgba(255, 255, 255, 0.8);
        //border-radius: 4px;
        padding-bottom: 8px;
        .input {
          //background: rgb(231, 231, 231);

          padding-left: 4px;
        }
        .label {
          color: rgb(145, 145, 145);
          text-transform: uppercase;
          //font-size: 0.8em;
          padding-bottom: 0px;
          font-family: futurab;
          padding-left: 10px;
          margin-bottom: 50px;

          //-height: 2em;
          //margin: 0px;
        }
        input,
        textarea,
        select,
        label {
          background-color: rgb(236, 234, 234);
          color: rgb(109, 109, 109);
          border: 0px;
          //height: 30px;
          font-size: 0.8em;
          //padding: 4px;
          font-family: futurab;
          max-width: 100%;
          max-height: 1.8em;
          margin: 0px;
          //font-weight: bold;
        }
        label {
          padding-left: 6px;
        }
      }
    }

    .sg-menu {
      //border-top: 2px solid green;
      padding: 0px;

      text-align: center;
      display: flex;
      flex-direction: row;
      //align-items: stretch;
      //background-color: rgb(221, 221, 221);

      > * {
        flex: 1 1 auto;
        //border-top: 4px solid green;
        line-height: 1.6em;
      }
      a {
        background-color: rgb(9, 105, 97);
        height: 100%;
        //
        color: white;
        &:active {
          background-color: rgb(47, 90, 4);
        }
        &:hover {
          background-color: rgb(0, 80, 53);
        }
      }
      .text {
        margin: 0px;
      }
    }
  }
}

.report-tool {
  div[data-mode="0"] {
    .sg-form {
      > .caption {
        background-color: aqua;
      }
    }
  }
  div[data-mode="1"] {
    .sg-form {
      > .caption {
        background-color: aqua;
      }
    }
  }
  div[data-mode="2"] {
    .sg-form {
      > .caption {
        background-color: aqua;
      }
    }
  }
  div[data-mode="3"] {
    .sg-form {
      > .caption {
        background-color: aqua;
      }
    }
  }

  option.mode-0 {
    color: rgb(167, 96, 16) !important;
  }
  option.mode-1 {
    color: rgb(57, 177, 111) !important;
  }
  option.mode-2 {
    color: red !important;
    font-weight: bold;
  }
  option.mode-3 {
    color: rgb(219, 72, 195) !important;
  }

  .sg-menu {
    &.type-M {
      li:nth-child(2) {
        display: none !important;
      }
    }
    &.type-W {
      li:not(li:nth-child(2)) {
        display: none !important;
      }
    }
  }
}

.gt-info-main {
  overflow: auto;
  height: 100%;
  .info-body {
    overflow: auto;
    flex: 1 1 auto;
  }
  .info-menu {
    background-color: white;
    color: rgb(87, 87, 87);
    font-size: 10px;
    flex: 0 0 auto;
    button {
      margin-left: 5px;
    }
  }
  .info-main {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.sg-form {
  display: grid;
  height: 100%;
  overflow: auto;
  grid-template-rows: auto 1fr auto;
  .page {
    height: 100%;
    overflow: auto;
  }
}
.flex {
  > .body {
    height: 100%;
    overflow: auto;
    display: flex;
    > * {
      flex: 1 1 auto;
      height: 100%;
      overflow: auto;
    }
  }
}

.pending-tool {
  //padding: 4px;

  .btn-new {
    color: #1cbaf8;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
  }
  .row {
    font-size: 10px;
    color: rgb(244, 247, 224);
    background-color: #3a3a3aa9;
    padding: 1px;
    display: grid;

    grid-template-columns: 16px minmax(50px, 100px) minmax(50px, 100px) 0px 1fr 1fr;
    grid-template-rows: 1.4em auto;
    overflow: hidden;
    &:hover {
      background-color: rgba(104, 104, 104, 0.822);
      cursor: pointer;
    }
    .send {
      text-align: center;
      &:hover {
        background-color: rgba(29, 184, 15, 0.822);
        text-align: center;
      }
    }
    .delete {
      text-align: center;
      &:hover {
        background-color: rgba(206, 0, 0, 0.822);
        cursor: pointer;
      }
    }
    > .detail {
      grid-column: 1/7;
      grid-row: 2;

      background-color: rgba(20, 87, 0, 0.808);
      padding: 4px;
    }
    &:not(.open) {
      > .detail {
        display: none;
      }
    }
    &.open {
      > .detail {
        display: inherit;
      }
    }

    div {
      //word-wrap: normal;
      white-space: nowrap;
      overflow: hidden;

      text-overflow: ellipsis;
      list-style: none;
    }
  }
}

.output-tool {
  display: grid;
  grid-template-rows: auto 1fr;
  > :nth-child(2) {
    overflow: auto;

    height: 100%;
  }
}

.info-main {
  .info-menu {
    * {
      font-size: 10px;
    }

    button {
      background-color: rgb(219, 219, 219);
      border: 1px solid rgb(114, 114, 114);
      margin: 2px;
      line-height: 1.5em;
      vertical-align: middle;
      width: 2.3em;
      &:hover {
        background-color: rgb(0, 59, 10);
        color: white;
        cursor: pointer;
      }
    }
  }

  .pending-note {
    background-color: #b40bdf;
    border-radius: 20%;
    padding: 1px;
    //vertical-align: super;
    position: absolute;
    transform: translate(5px, -160%);
    color: #eeeeee;
    font-weight: bold;
    //display: none;
    //right: 0px;
    min-width: 12px;
    text-align: center;
    font-size: 10px;
    &:empty {
      display: none;
    }
  }
}

.event-grid {
  background-color: rgb(236, 236, 236);
  color: #4d4d4d;
  td {
    font-size: 11px;
    text-transform: uppercase;
  }
}

.search-tool {
  overflow: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  img {
    margin: auto;
    height: 18px;
    vertical-align: middle;
  }

  .grid {
    padding: 5px;
    //background-color: #1cbaf8;
    font-size: 11px;
    color: #f4f7e0;
    display: grid;

    overflow: auto;
    grid-template-columns: 20px minmax(50px, 100px) minmax(50px, 100px) 1fr;
  }

  .row {
    display: contents;
    cursor: pointer;

    > div {
      line-height: 1.5em;
      vertical-align: middle;
      padding: 2px;
    }
    &:hover div {
      background-color: #000000;
    }
  }
}

.tool-import {
  background-color: #ececec;
  color: #4d4d4d;
  font-size: 11px;
  overflow: auto;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  .nav {
    flex: 1 1 auto;
  }
  .grid {
    flex: 1 1 auto;
    padding: 5px;
    height: 100%;
    display: grid;

    overflow: auto;
    grid-template-columns: 20px minmax(50px, 100px) minmax(100px, auto);
    .row {
      display: contents;
      cursor: pointer;

      > div {
        line-height: 1.5em;
        vertical-align: middle;
        padding: 2px;
      }
      &:hover div {
        background-color: #fffdfd;
      }
    }
  }
}

.trace-grid {
  color: rgb(145, 145, 145);
  font-size: 11px;
  line-height: 1.3em;
  position: relative;
  background-color: rgb(240, 240, 240);
  color: rgb(145, 145, 145);
  display: grid;

  //overflow: auto;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;
  .trace-header {
    position: relative;
    display: contents;
    div {
      background-color: rgb(5, 107, 114);
      color: white;
      text-align: center;
    }
  }
  .trace-row:nth-child(2n + 1) {
    div {
      background-color: rgb(241, 241, 241);
    }
  }
  .trace-row {
    position: relative;
    display: contents;
    text-align: center;
    &.now {
      div {
        background-color: rgb(5, 64, 153);
        color: rgb(207, 207, 207);
      }
    }
  }
}
