.trace-tool{

	&[data-mode-speed="r-0"]{
		.r-0{
			background-color: red;
		}
	}
	&[data-mode-speed="r-1"]{
		.r-1{
			background-color: red;
		}
	}
	&[data-mode-speed="r-2"]{
		.r-2{
			background-color: red;
		}
	}
	&[data-mode-speed="r-3"]{
		.r-3{
			background-color: red;
		}
	}
	&[data-mode-speed="r-4"]{
		.r-4{
			background-color: red;
		}
	}
	&[data-mode-speed="r-5"]{
		.r-5{
			background-color: red;
		}
	}
	&[data-mode-speed="f-1"]{
		.f-1{
			background-color: red;
		}
	}
	&[data-mode-speed="f-2"]{
		.f-2{
			background-color: red;
		}
	}
	&[data-mode-speed="f-3"]{
		.f-3{
			background-color: red;
		}
	}
	&[data-mode-speed="f-4"]{
		.f-4{
			background-color: red;
		}
	}
	&[data-mode-speed="f-5"]{
		.f-5{
			background-color: red;
		}
	}
	&[data-mode-speed="f-0"]{
		.f-0{
			background-color: red;
		}
	}
	
	
}


.trace-speed-nav{
	//height: 20px;
	//background-color: rgb(34, 180, 180);
	background: rgb(52,52,52);
	background: linear-gradient(90deg, rgb(1, 179, 45) 0%, rgba(255,255,255) 50%, rgb(6, 167, 241) 100%);
	float: left;
	padding: 0px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-template-rows:1em;
	width: 200px;
	grid-gap: 1px;
	>*{
		//display: block;
		//width: 15px;
		//height: 20px;
		text-align: center;
		line-height: 1em;
		vertical-align: middle;
		font-size: 1em;
		color:azure;
		//border:1px solid rgb(243, 243, 243);
		background-color: rgba(46, 46, 46, 0.205);
		&:hover{
			background-color: rgba(46, 46, 46, 1);

		}
		

	}

	

	>.r16,.x16{
		background-color: rgb(77, 77, 77);
	}
	>.r8,.x8{
		background-color: rgb(141, 141, 141);
	}
	>.r4,.x4{
		background-color: rgb(190, 190, 190);
	}
	>.r2,.x2{
		background-color: rgb(221, 221, 221);
	}
	>.r,.x{
		background-color: rgb(255, 255, 255);
	}


}


.trace-layer{
	padding: 3px;
	.text{
		font-size: 11px;
	}
	
	
	.sg-menu{
		.layer-icon{
			width: 18px;
			height: 18px;
			&[class*="ddarrow"]{
				width: 10px;
				height: 10px;
			}
		}
		.image{
			width: 10px;
			//min-width: 10px;
			height: 10px;
			//background-color: rgb(255, 145, 1);
			display: none;;
		}
		.option{
			background-color: rgb(250, 250, 250);
			color: rgb(151, 151, 151);
		}

		.circle{
			.image{
				border-radius: 10px;
			}
		}
		.image {
			&.red{ 
				background-color: rgb(235, 29, 80);
			}
			&.yellow{
				background-color: #fcff33;
				border:1px solid rgb(187, 187, 187);
			}
			&.blue{
				background-color: rgb(0, 45, 248);
			}
			&.green{
				background-color: rgb(72, 197, 0);
			}
			&.purple{
				background-color: rgb(187, 29, 235);
			}
			&.orange{
				background-color: rgb(236, 103, 13);
			}
			&.black{
				background-color: rgb(85, 85, 85);
			}
			&.white{
				background-color: rgb(211, 211, 211);
				border:1px solid rgb(187, 187, 187);
			}
			&.aquamarine{
				background-color: aquamarine;
				
			}
			&.brown{
				background-color: brown;
				
			}
			&.cyan{
				background-color: cyan;
				
			}
			&.fuchsia{
				background-color: fuchsia;
			}
			&.greenyellow{
				background-color: greenyellow;
			}
			&.greenyellow{
				background-color: lime;
			}
			&.magenta{
				background-color: magenta;
			}
			&.darkblue{
				background-color: darkblue;
			}
		}
			.item{
			&.open{
				.ind{
					float:right;
					margin:10px;
					width:6px;
					height:3px;
					margin-right: 6px;
					background-size: 100%;
					background-color: rgb(235, 9, 9);
				}
			}
		
			&.close{
				.ind{
					float:right;
					//margin:10px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 6px 4px 0 4px;
					border-color: #0590a8 transparent transparent transparent;
					//background-repeat:no-repeat;
					background-color: transparent;
					margin-right: 6px;
		
				}
			}
		}
		
		
	}
}


.trace-tool{
	
	.trace-nav{
		display: block;
		//display: inline-block;
		white-space: nowrap;
		background-color: rgba(255, 255, 255, 0.288);
		button{
			width: 29px;
			height: 29px;
			display: inline-block;
			white-space: nowrap;
			padding: 0;
			outline: none;
			border: 0;
			box-sizing: border-box;
			background-color: transparent;
			cursor: pointer;
			line-height: 29px;
			font-size: 12px;
			vertical-align: middle;	
		}	
	}

	.trace-layer{
		width:200px;
		height: 300px;
		overflow: auto;
	}
	
}

.trace-control{
	height: 100%;
	&.sg-tab{
		overflow: auto;
		
		
		>.menu{
			display: none;
		}
		>.body{
			overflow: auto;
			height: 100%;
		}
	}
	
}
.trace-list{
	display: grid;
	grid-template-columns: 40px 30px 1fr;
    grid-template-rows:auto;
	width: 100%;
	grid-gap: 0px;
	overflow: auto;
	height: 100%;
	color:rgb(145, 145, 145);
	font-size: 9px;

	:nth-child(1), :nth-child(2), :nth-child(3){
		background-color: rgb(5, 107, 114);
		text-align: center;
		color:white;
		
	}
	:nth-child(6n+7),:nth-child(6n+8),:nth-child(6n+9){
		background-color: rgb(241, 241, 241);
	}
	:nth-child(3n+4){
		
		
		text-align: center;
		
	}
	:nth-child(3n+5),:nth-child(3n+6){
		text-align: right;
		
	}
	
}

.trace-tool{
	.sg-form{

		background-color: rgba(255, 255, 255, 0.664);
		//border:1px solid white;
		width: auto;
		display: grid;
		grid-template-rows: 0px 1fr auto;
		.caption{
			//display: none;
			color:rgb(255, 255, 255);
			text-align: center;
			background-color: rgba(99, 99, 99, 0.7);
			line-height: 2em;
			vertical-align: middle;
			.text{
				font-size: 12pt;
				text-transform: uppercase;
				font-family: futurab!important;
			}
			
		}
		.page{
			//border: 10px solid transparent;
			overflow: auto;
			display: grid;
			grid-gap: 1px;
			padding: 1px;
			grid-template-columns: repeat(auto-fit,  [cc-start] minmax(180px, 1fr) [cc-end]);
			align-content: start;   
			justify-content: center; 
			
		
			.field{
		
		
				padding: 2px;
				background-color: rgba(255, 255, 255, 0.8);
				border-radius: 4px;
		
				.label{
					color: rgb(145, 145, 145);
					text-transform: uppercase;
					font-size: 0.8em;
					padding-bottom: 10px;
					font-family: futurab;
					padding-left: 10px;
					
				}
				input, textarea, select{
					background-color: rgb(248, 248, 248);
					color: rgb(109, 109, 109);
					border: 0px;
					//height: 30px;
					font-size: 0.8em;
					//padding: 4px;
					font-family: futurab;
					width: 100%;
				}
		
			}

		}
	
		.sg-menu{
			//background-color: rgb(226, 8, 8);

			//color:white;
			padding: 1px;
			li{
				width:100%;
			}
			text-align: center;
			a{
				background-color: rgb(9, 105, 97);
				color:white;
				&:active{
					background-color: rgb(47, 90, 4);
				}
			}
			.text{
				margin: 0px;
			}
		}
	}
}

.info-form{
	
	font-size: 9px;
	line-height: 1.5em;
	color:white;
	padding:4px;
	.row{
		>*{
			display: inline-block;
		}
		&.inputs{
			background-color: rgba(0, 0, 0, 0.205);
			>*{
				display: block;
			}
		}
	}

	
}

[data-info-mode="pulsing"]{
	.info-form{
		background-color: rgb(7, 112, 103);
	}
}
[data-info-mode="circle"]{
	.info-form{
		background-color: rgb(221, 47, 198);
	}
}
[data-info-mode="arrow"]{
	.info-form{
		background-color: rgb(179, 30, 67);
	}
}