.sg-calendar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: white;
  color: #686869;
  width: 100%;
  min-width: 280px;
  height: 100%;
  font-family: tahoma;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sg-calendar > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sg-calendar .y-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sg-calendar .y-bar > * {
  background-color: #e6e6e6;
  margin: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #f4f4f4;
  text-align: center;
  font-size: 8pt;
  line-height: 2em;
  cursor: pointer;
}

.sg-calendar .y-bar > *[data-index="2"] {
  color: #ececec;
  background-color: #858585;
  font-weight: bold;
}

.sg-calendar .y-bar > *:hover {
  background-color: #0070a0;
  color: white;
}

.sg-calendar .m-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sg-calendar .m-bar > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ebebeb;
  display: inline-block;
  margin: 1px;
  text-align: center;
  font-size: 8pt;
  line-height: 2em;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  cursor: pointer;
}

.sg-calendar .m-bar > *.active {
  color: #e2e2e2;
  background-color: #0070a0;
}

.sg-calendar .m-bar > *:hover {
  background-color: #a00000;
  color: white;
}

.sg-calendar .c-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.sg-calendar .c-bar * {
  font-size: 9pt;
  text-align: center;
}

.sg-calendar .c-bar > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.5em;
  background-color: #d6d6d6;
  padding: 4px;
  color: #6e6e6e;
}

.sg-calendar .c-bar > *:hover {
  background-color: #747474;
  color: white;
}

.sg-calendar .c-bar > * .p-month:hover,
.sg-calendar .c-bar > * .n-month:hover,
.sg-calendar .c-bar > * .p-year:hover,
.sg-calendar .c-bar > * .n-year:hover {
  color: #a8eeee;
}

.sg-calendar .c-bar .c-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sg-calendar .c-bar .c-month > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sg-calendar .c-bar .c-month select {
  width: 80px;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 auto !important;
          flex: 0 0 auto !important;
}

.sg-calendar .c-bar .c-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sg-calendar .c-bar .c-year > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sg-calendar > .calendar {
  width: 100%;
  height: 180px;
}

.sg-calendar > .calendar thead {
  background-color: darkgray;
  color: #ededed;
  text-align: center;
  font-weight: bold;
}

.sg-calendar > .calendar tbody {
  background-color: #ededed;
  font-size: 9pt;
}

.sg-calendar > .calendar tbody td {
  text-align: center;
  font-size: 8pt;
}

.sg-calendar > .calendar tbody .week {
  background-color: #e5e5e5;
}

.sg-calendar > .calendar tbody .week:hover {
  background-color: #ad0505;
  color: white;
}

.sg-calendar > .calendar tbody .day:hover {
  background-color: black;
  color: aqua;
}

.sg-calendar > .calendar tbody .m-prev {
  background-color: white;
}

.sg-calendar > .calendar tbody .m-next {
  background-color: white;
}

.sg-calendar > .calendar tbody .today {
  color: #e2e2e2;
  background-color: #0070a0;
}

.sg-calendar > .calendar tbody .m-now.active {
  color: white;
  background-color: #f3a600;
}

.sg-calendar > .calendar tbody .m-prev.active {
  color: white;
  background-color: #db4e0d;
}

.sg-calendar > .calendar tbody .m-next.active {
  color: white;
  background-color: #ff8800;
}

.sg-calendar .t-bar {
  font-size: 10pt;
  padding: 4px;
  text-align: center;
  margin: 1px;
  cursor: pointer;
  color: #686868;
  background-color: #dbdbdb;
}

.sg-calendar .t-bar:hover {
  background-color: #1986d4;
  color: white;
}

.sgcal-note {
  border-style: solid;
  border-width: 10px 0 10px 10px;
  right: 0px;
  top: 0px;
  border-color: #c01515 transparent transparent transparent;
}

.sgcal-note:hover {
  border-color: black transparent transparent transparent !important;
}

.sgcal-ind {
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: #0d5ebf transparent transparent transparent;
  left: 0px;
  top: 0px;
}

.sgcal-ind:hover {
  border-color: black transparent transparent transparent !important;
}
/*# sourceMappingURL=sg_calendar.css.map */