/* Scss Document */


.disabled .option{
	color: gray !important;
}

.sep{
	_height: 4px;
	border: 1px solid red;
	max-width: 3px;
}



#s{
	background-color: rgba(135,26,28,1.00);
	color:white;
	height: 400px;
	width: 400px;
	display: none;
	_align-content: center;
	justify-content: center;
	align-items: center;
	>div{
		_height: 50px;
		width: 50px;
		background-color: rgba(107,107,107,1.00);
		border: 2px solid white;
		margin:2px;
		
	}
}


@keyframes open {
	0% {
			transform-origin: 0 0; 
			opacity:1;
			transform: scale3d(.5,.5,.5);
			_transform: translate(-5%, -5%);
		}

	100% {
			transform-origin:  0 0; 
			opacity:1;

			transform: translate(0%, 0%);
	}
}

@keyframes close {
	0% {
			
			opacity:1;
			visibility: visible;
			
		}

	100% {
			_transform-origin:  0% 0%; 
			opacity:0;
			visibility: hidden!important;
			
	}
}

.submenu.open{
	opacity: 0;
	visibility: visible!important;
	animation: open  0.5s ease-out none;
	
}

.submenu.close{
	
	
	animation:close  0.2s ease-out 0s none;
	/*
	transition-duration: 2s;
	transition-property: all;
	transition-timing-function: ease-in-out;
	*/
}


._sg_menu, ._submenu{
	background-color: rgba(203,95,1,1.00);
	color:white;
	
	
	
	
	div.caption{
		background-color: rgba(147,51,53,1.00);
		text-align: center;
		padding:4px;
	}
	
	ul{
		
		padding:0px;
		margin:2px;
		li{
			background-color: rgba(0,0,0,0.10);
			list-style:none;
		}
		
		li:hover{
			cursor: pointer;
			background-color: rgba(0,0,0,0.30);
		}
	}
	li.close{

		div.ind{
			float:right;
			width:14px;
			height:14px;
			margin:10px;
			background-size: 100%;
			background-image:url(../images/dn_02.png);
			_background-position: 0px 0px;
			background-repeat:no-repeat;

		}

	}
	li.open{
		background-color:rgba(0,0,0,0.20);

		div.ind{
			float:right;
			width:14px;
			height:14px;
			margin:10px;
			background-size: 100%;
			background-image:url(../images/up_04.png);
			_background-position: 0px 0px;
			background-repeat:no-repeat;

		}

	}
	li>.option{
		background-color: rgba(255,255,255,0.10);
		
		width: 100%;
		color: white;
		border:1px solid white;

		margin: 0px;
		height:50px;
		
		
		display: flex;
		
		justify-content: flex-start;
		align-items: center;
		
		div.checkbox{
			
			
			
		}
		
		div.img{
			height: 24px;
			width: 24px;
		}
		
		div.with-img{
			
			
			
			
		}
		div.no-img{
			height: 24px;
			width: 24px;
			
			background-color: rgba(0,0,0,0.17);
			
		}
		img{
			_display: inline;
			_height: 24px;
			height: 100%;
			width: 100%;
			_vertical-align: middle;
		}
		
		
		.text{
			flex: 1 1 auto;
			padding-left: 10px;
			padding-right: 10px;
			_display: inline;
			_height: 24px;
			_vertical-align: bottom;
			_border:1px solid white;
		}
		>*{
			flex: 0 0 auto;
			_display: inline;
		}
	}
	
	
	
}

.type_default{
	width: 300px;
}

.type_default{
	position: relative;
	_z-index: 150000000;
	background-color: rgba(249,249,249,1.00);
	border:2px solid rgba(216,216,216,1.00);
	padding: 4px;
	
	_width: 300px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	
	>ul{
		_max-height: 400px;
		_overflow: auto;
		padding:0px;
		margin:0px;
		/*outline-style: double;
    outline-color: red;
    outline-width: thick;*/
	}
	
	li{
		
		list-style:none;
		>div{
			height: 30px;
		}
	}
	li>div:hover{
		cursor: pointer;
		background-color: rgba(219,219,219,1.00);
		color:white;
		_transition: 0.3s background ease-out;
		
	}
	div.caption{
		background-color: rgba(127,127,127,1.00);
		color:rgba(236,236,236,1.00);
		text-align: center;
		padding:4px;
	}
	
	ul ul{
		background-color: rgba(243,243,243,1.00);
		border: 2px solid rgba(255,255,255,1.00);
		overflow: hidden;
		_max-width: 120px;
		padding: 0px;
		margin: 0px;
		margin-left: 0px;
		white-space: nowrap;
		margin-right: 4px;
		box-shadow: 0px 0px 10px 3px rgba(123,123,123,1.00);
		li{
			_background-color: rgba(208,212,133,0.30);
			
		}
		
	}
	
	
	li.close{

		>div>div.ind{
			float:right;
			margin:10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 9px 6px 0 6px;
			border-color: #007bff transparent transparent transparent;
			
			/*transition: 0.5s ease-out all;
			width:14px;
			height:14px;
			
			background-size: 100%;
			background-image:url(../images/dn_02.png);
			
			*/
			
			
			_background-position: 0px 0px;
			background-repeat:no-repeat;

		}

	}
	li.open{
		

		>div>div.ind{
			float:right;
			margin:10px;
			/*width: 0;
height: 0;
border-style: solid;
border-width: 0 6px 9px 6px;
border-color: transparent transparent #8B8B8B transparent;
		
			transition: 0.5s ease-out all;
				*/
			width:8px;
			height:3px;
			
			margin-right: 12px;
			background-size: 100%;
			background-color: rgba(196,196,196,1.00);
			

		}

	}
	
	li.close > ul {
		_max-height: 0px;
		overflow: hidden;
		_padding-left: 30px;
		opacity: 0;
		/*
		max-height: 0px;
		*/
		_transition-duration: 0.2s;
		_transition-property: all;
		_transition-delay: 0.5s;
		_visibility: hidden;
		
	}
	li.open > ul {
		_background-color: rgba(237,237,237,1.00);
		max-height: 600px;
		
		
		
		overflow: hidden;
		opacity: 1;
		_transition-duration: 0.5s;
		_transition-property: all;
		_transition-timing-function: ease-in;
		_visibility: visible;
		
	}
	
	li>.option{
		_background-color: rgba(255,255,255,0.10);
		display: flex;
		width: 100%;
		color: rgba(118,118,118,1.00);
		
		border-bottom:1px solid rgba(213,226,243,1.00);

		margin: 0px;
		_height:30px;
		
		
		display: flex;
		
		justify-content: flex-start;
		align-items: center;
		
		div.checkbox{
			
			
			
		}
		
		div.icon{
			height: 24px;
			width: 24px;
		}
		
		div.with-img{
			
			
			
			
		}
		div.no-img{
			height: 24px;
			width: 24px;
			
			background-color: rgba(0,0,0,0.17);
			
		}
		img{
			_display: inline;
			_height: 24px;
			height: 100%;
			width: 100%;
			_vertical-align: middle;
		}
		
		>*{
			//flex: 0 0 auto;
			_display: inline;
		}
		.text, .caption{
			flex: 1 1 auto;
			padding-left: 10px;
			padding-right: 10px;
			_display: inline;
			_height: 24px;
			_vertical-align: bottom;
			_border:1px solid white;
		}
		
	}
	
	
	
}

.type_accordion, .type_accordionx, .type_accordiony{
	background-color: rgba(249,249,249,1.00);
	border:2px solid rgba(216,216,216,1.00);
	padding: 4px;
	
	_width: 300px;
	


	
	>ul{
		_max-height: 400px;
		_overflow: auto;
		padding:0px;
		margin:0px;
		/*outline-style: double;
    outline-color: red;
    outline-width: thick;*/
	}
	
	li{
		
		list-style:none;
		>div{
			height: 30px;
		}
	}
	li>div:hover{
		cursor: pointer;
		background-color: rgba(219,219,219,1.00);
		color:white;
		_transition: 0.3s background ease-out;
		
	}
	div.caption{
		background-color: rgba(127,127,127,1.00);
		color:rgba(236,236,236,1.00);
		text-align: center;
		padding:4px;
	}
	
	ul ul{
		
		padding:0px;
		margin:0px;
		margin-left: 20px;
		li{
			background-color: rgba(208,212,133,0.30);
			
		}
		
	}
	li.close{

		>div>div.ind{
			float:right;
			margin:10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 9px 6px 0 6px;
			border-color: #007bff transparent transparent transparent;
			
			/*transition: 0.5s ease-out all;
			width:14px;
			height:14px;
			
			background-size: 100%;
			background-image:url(../images/dn_02.png);
			
			*/
			
			
			_background-position: 0px 0px;
			background-repeat:no-repeat;

		}

	}
	li.open{
		

		>div>div.ind{
			float:right;
			margin:10px;
			/*width: 0;
height: 0;
border-style: solid;
border-width: 0 6px 9px 6px;
border-color: transparent transparent #8B8B8B transparent;
		
			transition: 0.5s ease-out all;
				*/
			width:8px;
			height:3px;
			
			margin-right: 12px;
			background-size: 100%;
			background-color: rgba(196,196,196,1.00);
			

		}

	}
	
	li.close > ul {
		max-height: 0px;
		overflow: hidden;
		padding-left: 30px;
		opacity: 0;
		/*
		max-height: 0px;
		*/
		transition-duration: 0.2s;
		transition-property: all;
		_transition-delay: 0.5s;
		_visibility: hidden;
		
	}
	li.open > ul {
		
		max-height: 600px;
		
		
		
		_overflow: hidden;
		opacity: 1;
		transition-duration: 0.5s;
		transition-property: all;
		transition-timing-function: ease-in;
		_visibility: visible;
		
	}
	
	li>.option{
		_background-color: rgba(255,255,255,0.10);
		display: flex;
		width: 100%;
		color: rgba(118,118,118,1.00);
		
		border-bottom:1px solid rgba(213,226,243,1.00);

		margin: 0px;
		_height:30px;
		
		
		display: flex;
		
		justify-content: flex-start;
		align-items: center;
		
		div.checkbox{
			
			
			
		}
		
		div.icon{
			height: 24px;
			width: 24px;
		}
		
		div.with-img{
			
			
			
			
		}
		div.no-img{
			height: 24px;
			width: 24px;
			
			background-color: rgba(0,0,0,0.17);
			
		}
		img{
			_display: inline;
			_height: 24px;
			height: 100%;
			width: 100%;
			_vertical-align: middle;
		}
		
		
		.text, .caption{
			flex: 1 1 auto;
			padding-left: 10px;
			padding-right: 10px;
			_display: inline;
			_height: 24px;
			_vertical-align: bottom;
			_border:1px solid white;
		}
		>*{
			flex: 0 0 auto;
			_display: inline;
		}
	}
	
	
	
}

.type_system{
	background-color: rgba(74,67,67,1.00);
	border:1px solid red;
	color:white;
	width: 800px;
	
	>ul{
		_max-height: 400px;
		_overflow: auto;
		padding:0px;
		margin:0px;
		display: flex;
		>li{
			_display: inline-block;
			width: 180px;
		}
	}
	li{
		list-style:none;
	}
	div.caption{
		background-color: rgba(147,51,53,1.00);
		text-align: center;
		padding:4px;
	}
	
	ul ul{
		
		padding:0px;
		margin:0px;
		margin-left: 10px;
		li{
			background-color: rgba(0,0,0,0.20);
			
		}
	}
	li.close{

		>div>div.ind{
			float:right;
			width:14px;
			height:14px;
			margin:10px;
			background-size: 100%;
			background-image:url(../images/dn_02.png);
			_background-position: 0px 0px;
			background-repeat:no-repeat;

		}

	}
	li.open{
		>div.option{
			background-color:rgba(144,21,23,0.20);
		}

		>div>div.ind{
			float:right;
			width:14px;
			height:14px;
			margin:10px;
			background-size: 100%;
			background-image:url(../images/up_04.png);
			_background-position: 0px 0px;
			background-repeat:no-repeat;

		}

	}
	
	li.close > ul {
		max-height: 0px;
		overflow: hidden;
		padding-left: 30px;
		opacity: 0;
		/*
		max-height: 0px;
		*/
		transition-duration: 0.2s;
		transition-property: all;
		_transition-delay: 0.5s;
		_visibility: hidden;
		
	}
	li.open > ul {
		
		max-height: 600px;
		
		
		
		overflow: hidden;
		opacity: 1;
		transition-duration: 0.5s;
		transition-property: all;
		transition-timing-function: ease-in;
		_visibility: visible;
		
	}
	
	li>.option{
		background-color: rgba(255,255,255,0.10);
		display: flex;
		width: 100%;
		color: white;
		border:1px solid white;

		margin: 0px;
		height:50px;
		
		
		display: flex;
		
		justify-content: flex-start;
		align-items: center;
		
		div.checkbox{
			
			
			
		}
		
		div.img{
			height: 24px;
			width: 24px;
		}
		
		div.with-img{
			
			
			
			
		}
		div.no-img{
			height: 24px;
			width: 24px;
			
			background-color: rgba(0,0,0,0.17);
			
		}
		img{
			_display: inline;
			_height: 24px;
			height: 100%;
			width: 100%;
			_vertical-align: middle;
		}
		
		
		.text{
			flex: 1 1 auto;
			padding-left: 10px;
			padding-right: 10px;
			_display: inline;
			_height: 24px;
			_vertical-align: bottom;
			_border:1px solid white;
		}
		>*{
			flex: 0 0 auto;
			_display: inline;
		}
	}
	
	
	
}


.submenu1 {
	border: 2px solid red;
	margin: 3px;
	padding: 3px;
	background-color: rgba(0,0,0,0.99);
	
	
	
	
	ul[data-sg-menu-type="popup"]{
		background-color: rgba(35,35,35,0.40);
	}	
	
	div[data-sg-menu-type="caption"]{
		background: linear-gradient(rgba(4,88,58,0.86), rgba(35,35,35,1.00));
			
		color: white;
		line-height: 2em;
		vertical-align: middle;
		text-align: center;
		font-size: 9pt;
		font-weight: bold;
		text-transform: uppercase;



	}	
	
	ul{
		
		padding:0px;
		margin:0px;
	}

	li{
		list-style:none;
		padding:2px;
		
		
	}
	
	li[data-sg-menu-type="item"]  > div a
		{
		
		display:flex;
		align-items:center;
		text-decoration:none;
		flex: 1 1 auto;
		color:white;
		span{
			padding-right:4px;	
			flex: 1 1 auto;
		}

	}

	li[data-sg-menu-mode="open"]{
		background-color:rgba(0,0,0,0.20);

		a > div[data-sg-menu-type="ind"]{
			float:right;
			width:14px;
			height:14px;
			background-size: 100%;
			background-image:url(../images/up_04.png);
			_background-position: 0px 0px;
			background-repeat:no-repeat;

		}

	}	

	li[data-sg-menu-mode="close"]{

		a > div[data-sg-menu-type="ind"]{
			float:right;
			width:14px;
			height:14px;
			background-size: 100%;
			background-image:url(../images/dn_02.png);
			_background-position: 0px 0px;
			background-repeat:no-repeat;

		}

	}
	
	li[data-sg-menu-mode="close"] > ul {
		display:none;
	}	
	
	
	
	ul[data-sg-menu-type="main"]{
		_background-color: rgba(28,64,70,0.0);
		ul{
			list-style:none;
			margin-left:10px;
		}		
		
	}

		
		li > div:hover{
			background-color: rgba(0,0,0,0.40);
		}
		div{
			background-color: rgba(28,64,70,0.4);
			display:flex;
			align-items:stretch;
			align-self:center;
			
			div {

				background-color: transparent;
				border: 0px solid white;
				_flex: 0 0 auto;
				height: 24px;
				margin-left: 5px;
				margin-right: 5px;
				width: 24px;


			}
			input{
					align-self:center;
					_margin:4px;
				}
		}


	
}