.gt{
	height: 100%;
	display: flex;
	flex-direction: column;
	>*{
		height: 100%;
	}
}

.sg-f-catalogue{
	height: 100%;
	background-color: blue;
	display: flex;
	flex-direction: column;
	>*:nth-child(2){
		//height: 100%;
	}
}

.gt.cota.catalogue{

	background-color: rgb(228, 228, 228);
	font-size: 0.8em;
	font-family: tahoma;
	padding: 4px;
	>.caption{
		line-height: 1.5em;
		background-color: rgb(255, 255, 255);
		color:rgb(21, 110, 243);
		padding: 6px;
		text-align: center;
		font-weight: bold;
	}
	a{
		text-decoration-line: none;
		color: rgb(75, 174, 255);
		&:hover{
			color: rgb(161, 161, 161);
			text-decoration-line: underline;
		}
	}
	.page{
		padding: 10px;
		.field{
			padding: 4px;
			.caption{
				color: rgb(180, 180, 180);
				
			}
			.value{
				padding: 2px;
				font-weight: bold;
				color:rgb(75, 174, 255);
				padding-left: 10px;
			}
		}
	}
	>.body{
		
		display: flex;
		flex-direction: row;
		>.main{
			flex: 1 1 30%;
		}
		>.contact{
			flex: 1 1 auto;
		}

		>.main{
			background-color: rgb(253, 253, 253);
			color:rgb(26, 192, 243);
		}

		>.contact{
			background-color: rgb(255, 255, 255);
			color:rgb(39, 71, 129);
		}
	}

	.contact{
		
		display: grid;
		//height: 100%;
		overflow: auto;
		grid-gap: 3px;
		text-transform: uppercase;
		grid-template-columns: auto auto auto auto;
		font-size: 0.9em;
		
		>*{
			//display: table-row;
			background-color: rgb(236, 236, 236);
			padding: 3px;
			text-transform: capitalize!important;
			
			
			
		}

		.email{
			text-transform: lowercase;
		}
	}

}