.sg-form{
	&.basic,  &.sevian{
		padding: 4px;
		//margin: 5px;
		border: 2px solid rgb(218, 218, 218);
		background-color: #f0f0f0;
		>.caption{
		  background-color: #c0c0c0;
		  text-align: center;
		  color:rgb(255, 255, 255);
		  line-height: 2.0em;
		  text-transform: uppercase;
		}
		>.page{
		  font-size: 10pt;
		  color: #6e6e6e;
		  border: 1px solid #cfcece;
		  padding: 4px;;
		  >.field{
			margin-top: 5px;;
			>.label{
			  margin-left: 10px;
			  text-transform: capitalize;
			  >.ind{
				display: inline-block;
				color: red;
				margin-left: 5px;
			  }
	  
			}
			>.input{
			  input{
				color:#585858;
				border:1px solid #d8d7d7;
				height: 2em;
			  }
			  button{
				height: 2.0em;
				color:#585858;
				//border-color: #ff8800;
				border:1px solid #d8d7d7;
			  }
			}
		  }
		  >.sg-menu{
			background-color: #e4e4e4;
			padding: 4px;
			border: 2px solid rgb(236, 236, 236);
			margin-top: 10px;
			.option{
			  line-height: 2em;
			  background-color: #ff8800;
			  color: #e7e7e7;
			  border: 2px solid rgb(236, 236, 236);
			  cursor: pointer;
			  transition: 0.5s all ease-out;
			  &:hover{
				background-color: #cf4404;
				color: #d8d7d7;
				
			  }
			}
		  }
		}
	}
	
  
	
}


.sg-form{
	
	&.gt_cota_unit{

		>.page{
			display: flex;
			flex-direction: row;
			>.field{
				margin:2px;
			}
		}
		input{
			color: rgb(71, 110, 110);
			font-size: 12px;
			font-weight: bold;
		}
	}


	&.gt-login{
		width: 300px;
		.caption{
			display: none;
			color:rgb(247, 247, 247);
			text-align: center;
			.text{
				font-size: 12pt;
				text-transform: uppercase;
				font-family: futurab!important;
			}
			
		}
		.page{
			.field{
				padding: 5px 0px 10px 0px;
				.label{
					color: rgb(210, 235, 255);
					text-transform: uppercase;
					font-size: 0.8em;
					padding-bottom: 10px;
					font-family: futurab;
					padding-left: 10px;
					
				}
				input{
					background-color: rgb(231, 231, 231);
					color: rgb(109, 109, 109);
					border: 0px;
					//height: 30px;
					font-size: 1em;
					padding: 4px;
					font-family: futurab;
					width: 100%;
				}
			}

		}



		.menu{
			background-color: crimson;
		}
	}
}

