.sg-grid{
	
	font-size: 9pt;
  
	//height: 100%;
	//border:2px solid #52565a;
	overflow: auto;
	display: flex;
	flex-direction: column;
  
  
	padding: 4px;
	//margin: 5px;
	border: 2px solid rgb(218, 218, 218);
	background-color: #f0f0f0;
  
	>.body{
	  flex:1 1 auto;
	  overflow: auto;
	}
	>.caption{
	  background-color: #c0c0c0;
	  text-align: center;
	  color:rgb(255, 255, 255);
	  line-height: 1.5em;
	  text-transform: uppercase;
	  font-weight: bold;
	}
	>.nav-paginator{
	  background-color: rgb(219, 219, 219);
	  text-align: center;
	}
  
	>.grid-search{
	  text-align: center;
	  line-height: 2em;
	  input{
		color:#585858;
		border:1px solid #d8d7d7;
		height: 2em;
	  }
  
	  .btn-search{
		//line-height: 2em;
		background-color: #ff8800;
		color: #e7e7e7;
		//border: 2px solid rgb(236, 236, 236);
		cursor: pointer;
		transition: 0.5s all ease-out;
		&:hover{
		  background-color: #cf4404;
		  color: #d8d7d7;
		  
		}
	  }
	  
	}
  
	>.body{
	  >.grid-table{
		>thead{
		  tr>td{
			font-size: 10pt;
			color:#6e6e6e;
			margin-left: 10px;
			text-transform: capitalize;
			background-color: rgb(228, 228, 228);
		  }
		}
  
		>tbody{
		  >tr{
			 >td{
			   color:rgb(114, 114, 114);
			   
			 }
			 &:nth-child(2n){
			  
			  background-color: rgb(233, 233, 233);
			 }
  
			 &.active td{
			   >[data-name]:not(.zone-edit), > .text:not(.zone-edit){
				 display: none;
			   }
			 }
  
			 &.delete{
			   >td[data-name]{
				  visibility: hidden;
			   }
			   
			 }
		  }
		}
		
	  }
	}
	>.sg-menu{
	  background-color: #e4e4e4;
	  padding: 4px;
	  border: 2px solid rgb(236, 236, 236);
	  margin-top: 10px;
	  .option{
		line-height: 2em;
		background-color: #ff8800;
		color: #e7e7e7;
		border: 2px solid rgb(236, 236, 236);
		cursor: pointer;
		transition: 0.5s all ease-out;
		&:hover{
		  background-color: #cf4404;
		  color: #d8d7d7;
		  
		}
	  }
	}
  
	&.type-edit{
	  &.record-edit{
		.edit-row{
		  td{
			visibility: hidden;
		  }
		}
  
	  }
	}
  }