.row{

}

.parent{
    margin: 10px;
	border:2px solid rgb(32, 138, 11);
    padding: 10px;
}
.persons{
    margin: 10px;
	border:2px solid rgb(16, 73, 119);
    padding: 10px;
}
.childs{
	border:2px solid red;
}
.inputs{
    margin: 10px;
	border:2px solid rgb(16, 73, 119);
    padding: 10px;
}
.info-form{

    margin: 20px;
	font-size: 12px;
	line-height: 1.5em;
	color:rgb(151, 87, 87);
	padding:4px;


}
