<div class="info-form">
    
    <div>
        <div>Fecha</div>
        <div data-id="date_time"></div>
    </div>
    <div>
        <div>Position</div>
        <div>
            <span data-id="longitude"></span>, <span data-id="latitude"></span>
        </div>
    </div>
    <div>
        <div>Velocidad</div>
        <div data-id="speed"></div>
    </div>
    <div>
        <div>Orientación (°)</div>
        <div data-id="heading"></div>
    </div>
    <div>
        <div>Satelites</div>
        <div data-id="satellite"></div>
    </div>
    <div>
        <div>Distancia Recorrida</div>
        <div data-id="length"></div>
    </div>
    <div>
        <div>Distancia Total</div>
        <div data-id="total_length"></div>
    </div>
    

</div>