<div class="info-form-main unit-conn-{=connected}">
    <div class="name" data-id="vehicle_name"></div>
    <div class="unit-conn">
        <div class="true">Unidad Conectada</div>
        <div class="false">Unidad Desconectada</div>
    </div>
    <div class="row">
        <div>Fecha</div>
        <div>{=uDate}</div>
    </div>
    <div class="row">
        <div>Hora</div>
        <div>{=uTime}</div>
    </div>
    <div class="row">
        <div>Longitud</div>
        <div>{=longitude}</div>
    </div>
    <div class="row">
        <div>Latitud</div>
        <div>{=latitude}</div>
    </div>
    <div class="row">
        <div>Velocidad</div>
        <div>{=speed}</div>
    </div>
    <div class="row">
        <div>Orientación</div>
        <div>{=heading}</div>
    </div>
    <div class="row">
        <div>Satelites</div>
        <div>{=satellite}</div>
    </div>
    <div class="inputs">
        <div data-detail="inputs" data-input-id="{=inputs.id}" data-input-value="{=inputs.on}">
            <span>{=inputs.name}</span><span data-input-value="{=inputs.value}">{=inputs.value}</span>
        </div>
    </div>
    <div class="outputs">

        <div data-detail="outputs" data-input-id="{=outputs.id}" data-input-value="{=outputs.on}"><span>{=outputs.name}</span><span data-input-value="{=outputs.value}">{=outputs.value}</span></div>

    </div>
    
    <div><input type="checkbox">Seguir</div>
    <div><input type="checkbox">Activar Traza</div>
    <div><button type="button">Posición</button></div>
    <div><button type="button">Reiniciar</button></div>

</div>
